[2013-08-19 13:19] jyurek opened #5 ""WARNING: 'aclocal-1.13' is missing on your system.""
I get this error when building master. `./configure` then `make`. The problem is that I have `aclocal-1.14` but the `configure` script hardcodes 1.13. I had to change the `configure` script, line 1707. It worked after that.

[2013-09-14 16:01] pablox-cl opened #8 "How to manage external libraries like git submodules?"
I have some of my dotfiles in submodules (like zsh-users completion), since they are supposed to be managed by git, I think that `rcm` should only control only the linking.

Use case:

I want to add http://github.com/seebi/dircolors-solarized as a submodule and make it live on `~/.dircolors`.
- To manage it that way I'll have to add it trough `git submodule` in the dotfiles repo.
- It would be eas

[2013-10-08 08:14] #5 closed, assigned to nobody

[2013-10-12 15:59] PaBLoX-CL opened #11 "EXCLUDES not working as expected"
I have the following files in my `~/.dotfiles` directory:

[code]

I only want to exclude `config/systemd/*`,  so I've tried the following:

[code]

[code]

[code]

[code]

Following the instructions for the lsrc man page, I followed the idea of the thoughbot-dotfiles example:

[code]

[code]

Same thing... am I misunderstanding how it works?

[2013-11-02 13:52] mike-burns opened #13 "diffrc"
A program to see what would happen if you ran rcup, as a diff. Different from `rcup -n` in that it shows a diff instead of list of files it would symlink/copy.

[2013-11-02 14:01] mike-burns opened #14 "Two-way sync"
Problem: want to commit my weechat, gnupg, ssh files to my repo, but those files shouldn't be symlinks.

I think the solution is to sync the files back to my repo automatically. No idea what the UI for this should look like.

Considerations:
* Tagged/host-specific files.
* Multiple dotfiles dirs.

[2013-12-05 09:25] mike-burns opened #16 "Add `-c` flag for custom config file path"
A `-c` flag would be especially helpful for setting up e.g. thoughtbot's dotfiles:

[code]

[2013-12-06 18:54] pbrisbin opened #17 "Handling sub-dotfiles"
rcm currently skips dot files in the dotfiles directory. Normally this is what you want.

[code]

Unfortunately, there is one use-case where this falls down: ZSH.

ZSH lets you export `ZDOTDIR` to define where its startup files are searched for. This is great because I can get a ton of `~/.z*` files out of my home directory and into `~/.config/zsh`.

Unfortunately, this requires awkward naming lik

[2013-12-08 18:27] pbrisbin opened #18 "Potential for a rewrite PR"
This weekend I spent some time scratching an itch.

Every time I try to work on rcm to either improve some actual functionality, add tests, or just fixup the codebase a bit, I find myself unable to gain any traction as a bit of refactor over here leads to a bit of refactor over there -- and I know myself that when a PR has a messy diff due to variable renames or function relocation it's difficult

[2013-12-08 22:48] #17 closed, assigned to nobody

[2013-12-10 17:43] pbrisbin opened #21 "lsrc with multiple -d options"
[code]

**Expected**

[code]

**Actual**

[code]

[2013-12-11 14:42] #16 closed, assigned to nobody

[2014-01-13 16:24] pbrisbin opened #22 "Release a new version."
thoughtbot/dotfiles relies on the post-hook running to setup vundle. The bug preventing this is fixed but not released -- I'd like to release a new version before resorting to documenting the `-k` workaround in dotfiles' README.

[2014-02-03 15:23] mike-burns opened #26 "Make it easy to release new versions"
Taken from #22.

Currently:
- Requires Debian.
- Doesn't do anything with Homebrew.
- Need to manually post the tarball.

We can pull a lot of functionality in from https://github.com/thoughtbot/gitsh/blob/master/Makefile.am#L17 .

[2014-02-04 16:13] #8 closed, assigned to nobody

[2014-02-07 10:55] ordnungswidrig opened #28 ""hostname -s" fails on cygwin"
[code]

[2014-02-07 12:57] mike-burns opened #29 "How does this compare to ..."
Add notes to the README on how this compares to Homesick, Homeshick, GNU Stow, and copying `install.sh` around.

[2014-02-07 14:41] #22 closed, assigned to nobody

[2014-02-07 17:24] hersha opened #30 "Add the ability to link only the top folder instead of recursively linking every file under the folder"
It would be nice if I could promote my .vim file and have it only link the .vim folder so that if I install new plugins you are not required to relink the entire folder.

Something like `mkrc -R .vim` maybe.

[2014-02-07 17:42] #30 closed, assigned to nobody

[2014-02-11 10:39] mike-burns opened #31 "Build a pkgng package"
For FreeBSD. The tricky bit is that this requires a slightly modified tarball, which currently can only be made using `pkg create`.

[2014-02-11 21:00] jsatt opened #32 "configure file missing"
All installation documents indicate that the configure script is included, including the last paragraph of INSTALL that says you should only need to regenerate the configure script if you want to use a different version of autoconf. However, the configure script was removed in 3cc63e020 because it is a generated file.

Either add the file back or update docs to include steps to build configure.

[2014-02-17 15:37] mike-burns opened #33 "Credit authors"
Currently the only person who seems to get any credit for this tool is myself, but this is clearly wrong.

We should list contributors in the rcm(7) manpage. As of right now this is Pablo Olmos de Aguilera Corradini (PaBLoX-CL), Jordan Eldredge (captbaritone), George Brocklehurst (georgebrock), Roberto Pedroso (robertopedroso), Patrick Brisbin (pbrisbin), and Dan Croak (croaky).

Part of the contr

[2014-02-17 15:55] mike-burns opened #34 "Prints an error when no hooks directory exists"
[code]

This happened in #9.

[2014-02-18 15:47] mike-burns opened #36 "Allow overriding of SYMLINK_DIRS"
Every option should have an opposite. `-S` does not have an opposite.

Introduce a `-s` that can force a return to normalcy that overrides a prior `-S`.

This is especially useful for making `mkrc -s` work smoothly.

[2014-02-18 15:48] mike-burns opened #37 "Show symlinked directories in -F"
`lsrc -F` should use a different sigil for directories that are symlinked because of `SYMLINK_DIRS` or `-S`.

[2014-02-18 16:20] #34 closed, assigned to nobody

[2014-02-19 12:15] #28 closed, assigned to nobody

[2014-02-22 00:11] #26 closed, assigned to nobody

[2014-02-22 00:13] #32 closed, assigned to nobody

[2014-02-24 14:53] mike-burns opened #43 "SYMLINK_DIRS and tags"
[code]

Looks like it symlinks anything under a tag, regardless of `SYMLINK_DIRS`.

[2014-02-24 15:02] #37 closed, assigned to nobody

[2014-02-27 15:10] mike-burns opened #45 "PGP signed configuration files"
The craziest of crazy ideas: if the repo contains a PGP signature, it will be verified before sync'ing the config files.

Relatedly crazy idea: check the signature of the `.rcrc` file.

[2014-02-27 15:45] #21 closed, assigned to nobody

[2014-02-27 16:33] mgorbach opened #47 "Ubuntu PPA"
It would be great if there was an Ubuntu PPA to easily keep rcm up to date. Otherwise, knowing about new releases and installing .deb files is a very manual process, and likely to leave out-of-date versions around. I think this is especially important for a project like rcm, since by definition its users will have multiple machines they maintain (or they wouldn't be using rcm in the first place).

[2014-02-28 02:58] mgorbach opened #48 "tag-specific pre-up and post-up hooks"
I'd like a way to add a `hooks` directory to tags, so that tags can have their own `pre-up` and `post-up` hooks. Here's a use case:
I have a `vim` tag that installs my `.vimrc` file. I'd like a post-up hook that creates the .vim directory if it doesn't exist and automatically clones vundle so that I can install bundles listed in my `.vimrc` next time I start vim. I don't want a general `post-up` h

[2014-02-28 10:27] #33 closed, assigned to nobody

[2014-03-03 15:55] #43 closed, assigned to nobody

[2014-03-07 15:27] georgebrock opened #59 "rcm commands don't show usage messages when given bad arguments"
[code]

[2014-03-09 02:06] TheLinuxKitten opened #61 "Request: Test parameter availability."
Under OpenBSD commands must be executed with the '-q' option to avoid errors. Neither rm, ln, cp and mv accept the '-v' option.
I only use git at home... I'll learn how to 'pull requests' soon.
Here is the request. I've used format-patch:

[code]

[2014-03-11 12:18] mike-burns opened #62 "lsrctag"
A program to list all possible tags.

[2014-03-15 15:31] #61 closed, assigned to nobody

[2014-03-19 16:47] mike-burns opened #66 "Solaris IPS package"
https://java.net/projects/ips
http://docs.oracle.com/cd/E26502_01/html/E21383/preface-1.html

This should depend on #49 being merged first.

[2014-03-20 18:34] caleb opened #68 "C version of lsrc"
I saw some talk here about making a C version of `lsrc`. So I went ahead and wrote it.

Here's the branch:

https://github.com/caleb/rcm/tree/lsrcc

It's not yet integrated with the auto* tools, so you'll have to `clang lsrc.c` it manually.

All of the features of the shell version should be included in the C version, and it's significantly faster (0.02 seconds vs 16 seconds with my admittedly big

[2014-03-24 05:34] rominf opened #69 "Add option (or command) to list tag names"

[2014-03-24 08:23] #69 closed, assigned to nobody

[2014-03-24 12:22] rominf opened #70 "user-[user]@[hostname] dir for user specific files"
I can handle specific configs for PCs with `host...` dir. I wish to have `user-[user]@[hostname]` directory for user files. Why do I need this? Well, I'm using `rcm` as a normal user and as a root and I cannot use `mkrc -o ~/.rcrc` recipe as root user don't uses GUI applications (and corresponding tags of course).

[2014-03-24 14:15] #18 closed, assigned to nobody

[2014-03-24 15:55] gabetax opened #71 "Ability to package rcm within the dotfiles repository itself"
Most people with existing dotfile repos handle file installation via a home-rolled make, rake, or shell script. While I love the idea of using rcm as a robust OTS framework, I don't look forward to having the additional step of installing rcm itself, _especially_ on servers where I don't have root access.

It's clear from #68 that it's a good design decision to reduce the number of dependencies wi

[2014-03-28 18:08] rominf opened #73 "Support dotted files in a subdirectory of dotfiles dir"
I didn't find a way how to handle dotted files such as `.hgignore` inside a subdirectory `hg` [maps to `~/.hg`]) of dotfiles directory. It's not a ignore file for directory `~/.dotfiles/hg`, it's actual config file, I need it.
In Mercurial global config (`~/.hgrc`) I have following lines:

[code]

There is no precise definition how should I name global ignore file, I named it equally to a reposito

[2014-03-28 19:57] #73 closed, assigned to nobody

[2014-03-31 21:51] pbrisbin opened #75 "Generated executables are not"
After running the `autogen.sh`, `configure`, `make` incantation, I find that the generated executables under `./bin` are not executable.

[code]

This breaks the test suite branch because the altered `$PATH` does not find them.

Looking at #72, I expected this to be because they were set as `_DATA`, not `_SCRIPTS` (the reverse of that issue), but that's not the case.

My installation seems to work

[2014-04-12 09:25] alanpearce opened #77 "Dry run option"
I think that it would be helpful if `rcup`, `rcdn` and maybe `mkrc` accepted a `-n` option, which doesn't actually move any files, in a similar way to `rsync` and `git clean`.

I have a different layout in my dotfiles directory current, so I'd like to be able to see what would happen if I ran some commands. I've been using `lsrc`, but I'm not sure if it's the same as a hypothetical `rcup -n`, sinc

[2014-04-12 15:53] alanpearce opened #78 "Separate repository- and host-specific rcrc configuration options"
It seems a bit weird to have both in the same file, particularly with `EXCLUDES` vs `TAGS`.

I'm not quite sure how would be best to handle this. `.rcignore` would be a nice idea, but probably not that easy to implement and only handles `EXCLUDES`.

Alternatively, perhaps `$dotfiles/.rcrc` might be better, since it's more generic and still fits in with the idea of ignoring dotfiles.

Currently I'm

[2014-04-12 16:02] alinnow opened #79 "Handle non-dotted dotfiles"
This is probably easier to explain by example:

Say I have `~/Library/LaunchAgents/my.plist` that I want to bless.
I run `mkrc Library/LaunchAgents/my.plist`. If I run `lsrc`, I see that `rcup` would create a link in `~/.Library/...`, which is obviously not what I want.

If you don't like the idea, at least consider throwing an error when running `mkrc` on a non-dotted file, since `rcup` cant't ha

[2014-04-12 16:52] alinnow opened #80 "Executable hooks aren't run"
If a hook has a mode of `750` or even `700`, it isn't run, even though it's executable by the user's standard. I've seen `umask 077` used in other places, so I wouldn't consider this particularly esoteric.

I read through #9 and saw that `find -executable` was dropped for not being POSIX. However, `find -perm +111` doesn't exhibit the same behaviour. I had a look at other find options, and `find -

[2014-04-19 03:14] derekprior opened #81 "rcup fails to link some files when multiple directories are specified"
I'm trying to switch [my dotfiles](https://github.com/derekprior/dotfiles) over to using rcm and building on the thoughtbot dotfiles. My repository containst mostly `.local` overrides to the thoughtbot dotfiles.

I'm running into a problem when using rcm in this way and have a very simple reproduction below:

[code]

Notice that files from both directories were symlinked, but for some reason `rc-t

[2014-04-25 12:51] #80 closed, assigned to nobody

[2014-05-05 23:25] gfontenot opened #86 "Add .rcmignore"
The `EXCLUDES` variable in `rcrc` is great, but feels limited. In my case, I would love to be able to set exclude patterns on a tag by tag basis. It feels like a good solution to this would be to have the ability to define an `.rcmignore` file that works much like `.gitignore`.

[2014-05-06 20:37] PaBLoX-CL opened #87 "Thoughts about mkrc with absolute/full paths"
Ok, this basically started since I tried to run:

[code]

This came up when I tried to add the feature in thoughtbot/rcm@2e283083e6, though it's not something that was introduced there (considering the bugfixes).

So, here's the thing: what's the point in using `mkrc` in a file from the root outside the home directory? I don't think so it actually makes sense. The only use case I can came up would

[2014-05-07 07:58] #81 closed, assigned to nobody

[2014-05-08 21:45] philoserf opened #89 "Option -S for directory symlink is -N in usage and documentation"
It appears that the `-S` option is inconsistently documented. It is `-N` in some places and not documented at all in others.

From `lsrc`

[code]

and from `man 1 lsrc`

[code]

and also

[code]

It is not documented in usage for `mkrc` `Usage: mkrc [-hvqo] [-t TAG] [-d DIR] FILES ...` despite having been implemented as in `mkrc -S test1`.

[2014-05-09 11:34] #89 closed, assigned to nobody

[2014-05-30 12:59] #59 closed, assigned to mike-burns

[2014-06-02 12:03] mike-burns opened #92 "Exclude paths"
Given:

[code]

Expected:

[code]

Reality:

[code]

The fix: in `handle_file`, when calling `is_excluded`, pass `$dotfiles_subdir/$file` instead of just `$file`.

[2014-06-02 12:12] mike-burns opened #93 "rcdn -K -k"
rcdn(1) has all the code needed to support `-k` and `-K` but `getopts` forbids it. Solution: add `Kk` to the `getopts` arg.

[2014-06-02 12:37] mike-burns opened #94 "Prefer tagged files over non-meta-files"
So if you have:

    .dotfiles/tag-freebsd/kshrc
    .dotfiles/kshrc

An `lsrc -t freebsd` would only list the `kshrc` in `.dotfiles/tag-freebsd/kshrc`.

What do people think? This is a breaking change, and I don't have feelings on it either way.

[2014-06-06 06:47] rominf opened #95 "rcup: add option for calling diff program on a conflict"
I update my dotfiles with `rcup` and it gives me:
[code]
It would be nice to have one another option `d` for calling diff program `diff`, for example, or `vimdiff` depending on a line in config file (default value):
[code]

To make it clear I propose to change question to:
[code]

`?` should give brief explanations of options. `y` is default.

This is somehow related with #13, but it works on conc

[2014-07-09 09:11] #36 closed, assigned to mike-burns

[2014-07-14 21:10] docwhat opened #101 "global, host, and tag ordering not working as expected."
The ordering of which file is used seems off.

It seems like `rcup` creates symlinks based on the first found in this ordered list:
1. The global (root)
2. The host
3. The tag

I expected it to be this order:
1. The host
2. The tag
3. The global

This is because I expect it to go from specific (host) to the general (global).

Is this by design? Or should this be changed?

Ciao!

[2014-07-16 13:50] #101 closed, assigned to nobody

[2014-07-17 19:58] pbrisbin opened #102 "mkrc without hooks"
I don't see any reason for `mkrc` to run hooks and would prefer it didn't. I'd also be OK with adding `-k`/`-K` support so I can disable them myself.

[2014-07-22 11:52] #93 closed, assigned to nobody

[2014-07-23 13:52] hugelgupf opened #103 "Using .dotfiles/rcrc"
When I first clone my .dotfiles repo, I have to symlink .rcrc to .dotfiles/rcrc manually. That's a bit of a hassle, why not look at .dotfiles/rcrc (or, well, $DOTFILES_DIR/rcrc) when .rcrc does not exist?

Edit: I suppose the tricky part here is supposed to be the -d option, which is not processed until after rcrc is needed.

[2014-07-24 18:43] mike-burns opened #104 "Migrations, being specific about files, and manifests"
Consider a world where lsrc(1) worked very differently. Instead of recurring through a directory tree, mimicking it onto a base directory, it could instead have a `MANIFEST` of rules. Here is a quick example `MANIFEST`:

    S zprezto ~/.zprezto           # 1
    X ~/.vim/configs/vundle        # 2
    I README.md                    # 3
    C tag-ssh/(ssh/config) ~/.\1   # 4

    # Default MANIFEST

[2014-07-28 08:25] #103 closed, assigned to nobody

[2014-08-01 08:13] #47 closed, assigned to nobody

[2014-08-12 02:00] geoffharcourt opened #107 "Install failing on Ubuntu"
At the `apt-get update` step of installing `rcm`, the martin-frost repository responds with a 404, and it isn't possible to install the package on Ubuntu via `apt-get`.

[2014-08-31 22:32] bcomnes opened #110 "Add to official homebrew formulae?"
Is there a reason why it was decided to support installation through homebrew using a tap instead of adding formula to the official formula repo?  If not, I would be happy to start that process to get it added.

[2014-09-18 08:50] fgarcia opened #111 "list all managed files with lsrc"
Currently rc files that only exist within a tag like `.dotfiles/tag-git/gitconfig` are not listed with a normal `lsrc` run

That was the default behavior I expected, and cannot find an option to just list all managed files, not just the ones listed at the root of `.dotfiles`

[2014-09-24 09:25] #110 closed, assigned to nobody

[2014-10-05 19:18] kaishin opened #113 "Tag flag should ignore non-tagged files"
This caught me off-guard several times as I am migrating my dotfiles to use tags. Affecting non-tagged files is not what I was expecting when I specified the tag with `-t`.

[2014-11-01 23:36] mike-burns opened #114 "Target git hook"
Instead of/in addition to a `rcup` command that you can run whenever, have a collection of commands that can run as part of git hooks (`rewrite` and `checkout`, at least?) that generates an installation/update script.

This is related to the new `-g` flag.

[2014-11-12 05:53] ileitch opened #115 "Escaped whitespace in DOTFILES_DIRS is not handled correctly."
Hey, I'm trying to use rcm with iCloud Drive. Locally, the Drive folder is `~/Library/Mobile Documents/com~apple~CloudDocs/` (yeah, not exactly obvious, Apple!).

rcm does not respect escaped whitespace in DOTFILES_DIRS however, so `DOTFILES_DIRS='/Users/ian/Library/Mobile\ Documents/com~apple~CloudDocs/dotfiles'` results in a mess:

[code]

[2014-11-17 01:08] #115 closed, assigned to nobody

[2014-11-24 08:32] #79 closed, assigned to nobody

[2014-12-09 07:30] hugelgupf opened #123 "Update online documentation"
http://thoughtbot.github.io/rcm/rcm.7.html
needs to be updated to the current man page.

[2014-12-09 21:25] bishopmatthew opened #124 "Should I be using mkrc -S ~/.emacs.d or do it on individual files?"
...like for my `~/.emacs.d/init.el`, `~/.emacs.d/Cask`, etc.

Also, not sure if I'm understanding correctly but when I run `mkrc -S ~/.emacs.d` I get:
[code]

What I was expecting was for .emacs.d to be moved into .dotfiles and a symlink from ~/ to there to be created. It moves the directory, but no symlink is created.

[2014-12-15 05:13] bturrubiates opened #125 "rcdn doesn't run pre and post hooks by default as indicated on man page"

[2014-12-25 03:42] hilt86 opened #127 "sha sums of debs"
Thanks for making RCM - I dig it! Can you provide a way for us to verify the integrity of the binary .deb files either via signing the packages or providing a sha sum for the files :

I am using the deb from https://thoughtbot.github.io/rcm/debs/rcm_1.2.3-1_all.deb

Thanks

[2014-12-30 17:23] vincecima opened #128 "Package cannot be authenticated on Ubuntu 14.04"
Fresh install of Ubuntu 14.04 and I ran these commands:
1. sudo add-apt-repository ppa:martin-frost/thoughtbot-rcm
2. sudo apt-get install rcm

Last command gives this output:

[code]

Adding the repo appeared to work correctly, not sure why the package cannot be verified.

[2014-12-31 17:08] #128 closed, assigned to nobody

[2015-01-01 12:39] Frost commented on #128
@vincecima It seems like I had made some mistakes when signing the first package, possibly related to the fact that it was a source package and I might have followed a guide for binary packages.

The documentation on packaging in ubuntu is very lengthy, and if you try to search for summaries (which I did, since I am lazy and don't feel like reading an entire book on this), you get a bunch of diffe

[2015-01-01 18:17] vincecima commented on #128
@Frost :+1:

[2015-01-06 16:55] calebthompson commented on #45
This seems useful to me, but more as a personal verification. If I know that my key signed the config files and I can validate the signature, then I know that the config files are as I left them.

This is particularly useful when setting up a new machine, since I know that past me as approved these dotfiles and they've not been modified.

[2015-01-07 04:40] graysonwright commented on #86
@mike-burns hrm.... Any thoughts?

[code]

[2015-01-07 12:35] mike-burns commented on #86
@graysonwright can you post:

    lsrc -vvv 2>&1 | grep README

[2015-01-07 15:14] pbrisbin commented on #86
`rcdn` is going to remove `~/.rcrc` which means it's not going to have an effect when you `rcup`.

`RCRC=$HOME/.dotfiles/rcrc rcup` is the way to bootstrap while respecting a not-yet-installed `rcrc`.

[2015-01-07 17:59] graysonwright commented on #86
@pbrisbin – that's the use case that an `.rcignore` would solve for me...

It just seems a bit strange that I'd need an existing dotfile in place to properly install the rest of my dotfiles. Seems like a chicken-or-egg situation. Normally I'd be okay with prefixing `RCRC=$HOME/.dotfiles/rcrc` onto the command, but since I wouldn't be able to alias that without my dotfiles installed already, I feel

[2015-01-07 18:16] pbrisbin commented on #86
I only mentioned it because mike was offering further debugging instructions, but the situation you have is expected behavior.

I fully support the `.rcignore` feature, but solving this bootstrap issue is not its goal, that's just a pleasant side-effect.

You can have things other than `EXCLUDE`/`INCLUDE` in your `rcrc` which you may need to happen when bootstrapping a new system. I've personally

[2015-01-08 07:10] graysonwright commented on #86
@pbrisbin I'm relatively new to RCM. If you can recall any offhand, would you mind linking to a discussion about looking up `~/.dotfiles/rcrc`?

Thanks!

[2015-01-08 10:58] mike-burns commented on #86
Unrelated to this Issue, but related to @graysonwright 's desires: I would be interested in a separate tool to make life easier for people who store their rc files in a VCS, and especially a tool for people with multiple dotfiles dirs.

[2015-01-08 14:22] pbrisbin commented on #86
#103

[2015-01-08 14:48] olalonde commented on #48
:+1:

[2015-01-08 18:02] olalonde commented on #48
One work around for post hooks:

Put a hook script in `tag-YOURTAG/hook-YOURTAG`. `rcup` will symlink `~/.hook-YOURTAG` and add some code to the `hooks/post-up` which will source `~/.hooks-sometag` if the file exists.

[2015-01-09 06:59] #125 closed

[2015-01-24 04:43] georgebrock opened #131 "man pages not installed correctly on FreeBSD"
Installing rcm on FreeBSD via the usual `configure`, `make`, `make install` incantation puts the manual pages in `/usr/local/share/man`, which isn't on the default `MANPATH`.

According to hier(7), `/usr/local` should follow the same layout as `/usr`, with some exceptions, including:

It doesn't look like there's anything out of the ordinary in rcm's `man/Makefile.am`, so this is probably autotool

[2015-01-24 04:52] georgebrock commented on #131
After a little Googling:

* This can be worked around with `./configure --mandir=/usr/local/man`
* rcm isn't the only program to have this problem (e.g. http://lists.freebsd.org/pipermail/freebsd-questions/2012-November/246029.html and https://github.com/ewxrjk/rsbackup/issues/3)

It might be that the fix for this is a documentation change, or a FreeBSD port, or just that I learn my new OS better

[2015-01-24 09:48] mike-burns commented on #131
[code]

This absolutely needs to be fixed, and I think a port is the best solution -- though if you find an autoconf solution that Just Works, I'd be even happier.

[2015-01-24 09:52] mike-burns commented on #131
Some ports/pkgng notes in #31. It'd be best to make this a real part of the FBSD ports tree and not something that is built from this project's Makefile.

[2015-01-24 11:35] mike-burns commented on #131
And indeed, bsd.port.mk sets `--mandir` explicitly (I'm on 9.3-STABLE; YMMV).

[2015-01-24 11:37] mike-burns commented on #123
Closing due to timeout of an open question; let me know if I should re-open.

[2015-01-24 11:37] #123 closed

[2015-01-24 11:38] mike-burns commented on #124
@bishopmatthew can you run with `-vvv` and paste that output, too, please?

[2015-02-01 03:49] bcomnes commented on #110
Sorry, meant to follow up on this a while ago.  I ended up needing more cross platform (*sigh* windows) support so I ended up going with an ansible solution instead so I'm not using `rcm` any longer and probably wouldn't be good at maintaining an formula over in the homebrew repo.

[2015-02-01 09:08] mike-burns commented on #110
Unfortunate, but thanks for the update.

[2015-02-08 15:51] graham33 commented on #95
The recent pull request I submitted (#132) addresses this requirement in some respects, although I didn't add support for a custom diff tool.

[2015-02-09 20:39] spwhitt commented on #102
I'd like to second this. It's counterintuitive that mkrc runs pre-up and post-up, it's not useful (you could just run rcup manually), and it's not documented.

Particularly problematic is when passing multiple files to mkrc. In this case, the hooks get run once for each file. For instance: mkrc .weechat/*.conf runs the hooks 13 times.

[2015-03-11 06:33] waynehoover opened #135 "Dotfiles with spaces don't work"
With the latest version do:

`cd ~`
`touch .this\ is\ a\ dotfile\ with\ spaces.rc`

then do
`mkrc .this\ is\ a\ dotfile\ with\ spaces.rc`

You get this error:

[code]

So I suppose https://github.com/thoughtbot/rcm/pull/44 didn't get it all. Is it possible for mkrc to support spaces in dotfiles?

[2015-03-11 08:08] mike-burns commented on #135
Maybe. It's really, really hard to get perfect.

However, I'm surprised you have a dotfile with a space in its name. Which program uses that?

[2015-03-11 08:14] waynehoover commented on #135
Sublime Text 3, Package Control.

I have created a failing test and am looking into it. Basically it looks like the for loop causes the issues, starting around here. https://github.com/thoughtbot/rcm/blob/master/bin/mkrc.in#L85

It could be doable maybe by changing the for loop to a `find` `while` `read` loop instead, as explained here for example: http://askubuntu.com/questions/343727/filenames-w

[2015-03-11 15:34] mike-burns commented on #135
Thanks for the research there. I'll try to fix this within these next two weeks, but feel free to hack on the code yourself in the meantime.

[2015-03-11 16:19] pbrisbin commented on #135
I'm very interested in the solution you come up with.

In my experience, handling this 100% correctly is difficult if not impossible in POSIX without restructuring the entire program (specifically options parsing) to pass `"$@"` and use `for x; do` everywhere (in any array-supporting shell, you can assign `foo=( "$@" )` and use `"${foo[@]}"` wherever you want, thus keeping your modularity/sanity).

[2015-03-11 21:45] waynehoover commented on #135
I don't think its impossible with POSIX, just hard. Here is another good answer that gives some options:

http://stackoverflow.com/a/7039579

They are all using `find` which I'm not sure how to get working with filename arguments, at least for now.

[2015-03-15 20:32] ryanseys commented on #135
Yeah I just ran into this issue with Sublime Text 3 too. :( Phooey.

[2015-03-16 21:44] PaBLoX-CL commented on #135
Guess it's time for another thought about using `C` or a more low-level language? Being POSIX compatible is a PITA :/

[2015-03-19 02:15] docwhat commented on #103
I just use this [`hooks/pre-up/rcm-configure`](https://github.com/docwhat/dotfiles/blob/master/hooks/pre-up/rcm-configure):

[code]

Which copies [`rcrc.example`](https://github.com/docwhat/dotfiles/blob/master/rcrc.example) to `~/.rcrc`.

[2015-03-19 02:17] docwhat commented on #94
@bcomnes Alas, no... host files do not override the default files. :sob:

[2015-04-09 00:25] langri-sha opened #137 "Curlable/wgettable installation script"
I'm sure something like this would require overlooking a lot of the technical minutiae involved with managing user configuration files correctly, but I would thoroughly appreciate if I can, on a completely clean box, pipe some script and get `rcm` installed for my user with `thoughtbot/dotfiles` installed as my base, à la `robbyrussell/oh-my-zsh` style.

In a nutshell, I would want it to be possib

[2015-04-10 16:52] mike-burns commented on #137
There is no way this will ever happen. Use your package manager instead.

[2015-04-10 16:52] #137 closed

[2015-04-12 11:03] ezuk opened #138 "rcm, rvm, and Fish won't play nice"
Hi there,

I use Fish as my shell, and had RVM working fine under Fish. Since installing rcm and putting my fish config files under RCM, RVM basically stopped detecting `cd` commands under Fish.

The fish config files are loaded (`rcup` worked, the symlinks are there, and all aliases are working). I'm not sure what the problem is, or even what information I can provide that would help. It broke ri

[2015-04-12 18:40] mike-burns commented on #138
Interesting.

Do you have `rvm_project_rvmrc` set in `~/.rvmrc`?

Do you have a `~/.config/fish/functions/rvm.fish`? Is it readable? Does it contain the `__handle_rvmrc_stuff` function definition?

In general, what does your Fish/RVM setup look like?

[2015-04-13 10:51] ezuk commented on #138
@mike-burns - thanks for taking a look.

I don't actually have a `~/.rvmrc` file -- oops. I don't think I ever had one, tbh. What should be in it?

my `~/.config/fish/functions/rvm.fish` is readable and this is what it says:

[code]

So is the problem in the lack of `~/.rvmrc`?

One of my projects does have a `.rvmrc` file, and when I `cd` into it, I get this:

[code]

That `.rvmrc` looks like thi

[2015-04-13 11:16] ezuk commented on #138
Problem solved! `rvm --create --versions-conf use 2.1.1@mygems`, then added the newly created `.versions.conf` to my `.gitignore`.

Thank you for setting me on the right path!

[2015-04-13 11:16] #138 closed

[2015-04-16 15:08] SeeThruHead opened #139 "Whole Folders"
Hello. I've got a fish functions folder that I would like to symlink with rcm.

When I do `mkrc -S -t fish ~/.config/fish/functions` everything seems to be working fine
i can even `rcdn` and `rcup -t fish` and it looks like everything is working

However when the entire fish folder is removed and I do `rcup` rcm links files individually instead of the folder. Is there a way to set this?

[2015-04-16 17:33] mike-burns commented on #139
Yes, use `SYMLINK_DIRS`, as documented in rcrc(5).

[2015-04-16 17:33] #139 closed

[2015-04-16 18:29] SeeThruHead commented on #139
I'm having some trouble figuring out the globbing patters, "functions" works, but how would I specify only functions inside my tag-fish/config/fish/ directory.

I've tried all sorts of different combinations and haven't come across one that works.

[2015-04-16 18:56] mike-burns commented on #139
I don't fully understand, but the equivalent of the `-S` you showed above should be:

[code]

Run `lsrc -v` to see more verbose ouput.

[2015-04-16 19:02] SeeThruHead commented on #139
WIth
`SYMLINK_DIRS="config/fish/functions"`
I get
`Recurring on /Users/STH/.config/fish/functions`
however `SYMLINK_DIRS="functions"`
gives me
`/Users/STH/.config/fish/functions:/Users/STH/.dotfiles/tag-fish/config/fish/functions`

Not really sure what I'm doing wrong here, I think I've followed the documentation for exclude patterns from lsrc.

[2015-04-29 14:03] offero opened #140 "The tutorial is not a tutorial"
This project sounds interesting, but I don't know how to use it or how it will benefit me.

[2015-04-29 14:14] Koronen commented on #140
Have a look at [the tutorial](http://thoughtbot.github.io/rcm/rcm.7.html). It should help answer your questions.

[2015-05-20 17:06] bturrubiates commented on #135
@ryanseys @waynehoover
I experienced this issue with Sublime as well and found a workaround. I can't remember at the moment. I briefly thought about adding functionality for handling spaces but it's difficult to do in this project. IMO using plain `sh` for POSIX compatibility doesn't get you much and just makes everything more difficult.

If I recall correctly I think my workaround was letting it

[2015-06-05 09:24] #94 closed

[2015-06-05 09:33] mike-burns commented on #45
If I find this useful in the future, I'll open a PR about it. Thanks for the feedback, Team RCM.

[2015-06-05 09:33] #45 closed

[2015-06-05 09:34] mike-burns commented on #48
This project should handle crazy complex setups with grace and ease. I would enjoy seeing a pull request for this feature.

I'm going to close this Issue for now. Thanks for bringing the idea up.

[2015-06-05 09:34] #48 closed

[2015-06-05 09:35] mike-burns commented on #62
Good idea, Mike. Patches welcome!

[2015-06-05 09:35] #62 closed

[2015-06-05 09:36] mike-burns commented on #66
That PR is merged but I never got a Solaris (or Illumos) machine running. Maybe someone else will figure this out.

[2015-06-05 09:36] #66 closed

[2015-06-05 09:40] mike-burns commented on #68
Closing this with some sadness: I really think POSIX sh is the right thing to use for this project. Thank you very much for bringing this up and for the C re-write, @caleb .

[2015-06-05 09:40] #68 closed

[2015-06-05 09:41] mike-burns commented on #70
Thanks for bringing up this idea. I'd be interested in looking at a pull request to implement it.

[2015-06-05 09:41] #70 closed

[2015-06-05 09:42] mike-burns commented on #71
Closing this because I hope that `-g` (starts to) solve this for people. It will need improvement, but adding it will get the ball rolling.

[2015-06-05 09:44] mike-burns commented on #77
I would love a `-n` dry run flag, and would excitedly review a pull request that adds such a feature.

[2015-06-05 09:44] #77 closed

[2015-06-05 11:30] mike-burns commented on #78
If you are still interested in this, I'd look at a pull request that shows how you think this should work.

[2015-06-05 11:30] #78 closed

[2015-06-05 11:32] mike-burns commented on #86
We already have EXCLUDES and INCLUDES in rcrc(5), so I'm closing this. Please open a pull request if you want this feature separately from rcrc(5).

[2015-06-05 11:32] #86 closed

[2015-06-05 11:33] mike-burns commented on #87
This would be a good UX improvement, and I would gladly look at a pull request that adds it.

[2015-06-05 11:33] #87 closed

[2015-06-05 11:34] mike-burns commented on #95
Closing this issue in favor of #132.

[2015-06-05 11:34] #95 closed

[2015-06-05 11:39] mike-burns commented on #102
I'd be interested in a pull request that updates the man page to describe existing behavior, or a PR to change that behavior but adds `-k` and `-K` to force hooks.

[2015-06-05 11:39] #102 closed

[2015-06-05 11:41] mike-burns commented on #104
I'm closing this until someone shows some code demonstrating how it would work.

[2015-06-05 11:41] #104 closed

[2015-06-05 11:41] mike-burns commented on #107
I'm closing this due to no response; please re-comment, @geoffharcourt, if you still experience issues.

[2015-06-05 11:41] #107 closed

[2015-06-05 11:43] mike-burns commented on #111
I'd look at a pull request that adds this functionality, though I'd also like to know the use case.

[2015-06-05 11:43] #111 closed

[2015-06-05 11:45] mike-burns commented on #113
I agree, though this is a big change. It would be a great change to get into 2.0. PR's welcome.

[2015-06-05 11:45] #113 closed

[2015-06-05 11:45] mike-burns commented on #114
This is a great idea, me; please open a pull request.

[2015-06-05 11:45] #114 closed

[2015-06-05 11:46] mike-burns commented on #124
Closing due to reporter time out.

[2015-06-05 11:46] #124 closed

[2015-06-05 11:48] mike-burns commented on #140
@offero if you figure out how to use it and how it will benefit you, please submit a pull request to improve the documentation. I love doc improvements. A lot.

[2015-06-05 11:48] #140 closed

[2015-06-05 11:50] mike-burns commented on #31
I'd love for this to happen, but it does not seem like I will be the one to do it. Maybe @georgebrock (or @mhoran?!) would like to be a FreeBSD ports maintainer?

[2015-06-05 11:50] #31 closed

[2015-06-05 11:52] mike-burns commented on #29
Well, I'm going to close this issue and hopefully I'll get to it next time I get the energy for another marketing push. Or maybe someone else will submit a pull request, to help with the next marketing push!

[2015-06-05 11:52] #29 closed

[2015-06-05 11:52] mike-burns commented on #14
Good idea, Mike; go do it!

[2015-06-05 11:52] #14 closed

[2015-06-05 11:53] mike-burns commented on #13
Brilliant idea; get to it!

[2015-06-05 11:53] #13 closed

[2015-06-05 11:57] mike-burns commented on #131
I'm going to close this: this would be resolved by someone taking on as a FreeBSD porter for the project, or by someone mentioning instructions on dealing with the man path during the `configure` step.

[2015-06-05 11:57] #131 closed

[2015-06-05 12:20] #127 closed

[2015-06-05 12:20] #71 closed

[2015-06-05 12:33] mike-burns commented on #75
Yes, that is what's happening; it uses the install(1) program, which makes it executable. If you can find a way to get this locally, just let me know.

[2015-06-05 12:33] #75 closed

[2015-06-05 13:47] PaBLoX-CL commented on #77
There's no need. `lsrc` works as a dry run.

[2015-06-05 13:48] PaBLoX-CL commented on #68
Why?

[2015-06-05 13:57] mike-burns commented on #68
@PaBLoX-CL simply: portability and maintainership.

- POSIX sh is everywhere; a C compiler is not. We could have rcm everywhere using package managers, but there just aren't enough people maintaining packages for all OSes. We could make use of the `-g` flag to encourage users to generate sh if they need portability, but `-g` is not powerful enough yet.
- I don't have it in me to maintain rcm as a

[2015-06-05 14:10] PaBLoX-CL commented on #68
Ah, no, I meant. If you distribute a binary, a compiler it's not needed, but I obviously understand the time problem.

[2015-08-10 13:03] steeeve opened #143 "Is there still an Arch package?"
The AUR link seems dead?

https://aur.archlinux.org/packages/rcm-git/

[2015-08-11 02:46] mike-burns commented on #143
Bummer. Can you contribute one in its place, @steeeve ?

[2015-08-13 05:21] thiagowfx commented on #143
Yes, I just re-created it. See it here: https://aur4.archlinux.org/packages/rcm/

[2015-08-15 14:51] wty21cn opened #144 "error when use mkrc to a dotfile which is already known by rcm"
when I accidentally use mkrc to a dotfile rcm already known, the problem comes, rcm will generate a symlink in ~/.dotfiles/ which point to itself, and delete the original dotfile in~/.dotfiles/ and delete the original symlink in ~/ as well, then I lost the dotfile. how can I solve this problem?
 

[2015-08-16 18:51] steeeve commented on #143
Thanks @thiagowfx!

Did you follow the instructions in [DEVELOPERS.md](https://github.com/thoughtbot/rcm/blob/master/DEVELOPERS.md)? I didn't have any success, but then I'm completely green to Arch.

Or do the instructions need updating?

[2015-08-17 00:07] mike-burns commented on #144
Thanks for reporting this. I have not looked into it yet, but this seems straight-forward to reproduce.

[2015-08-17 00:08] mike-burns commented on #143
Thanks @thiagowfx ! I'll update the README when I next get a chance (or you could submit a PR).

[2015-08-17 07:24] thiagowfx commented on #143
Hi there. I didn't need to follow these instructions because I reused the previous existing package (then slightly improved it). But I will read them as soon as I have time and see if it needs any updates.

[2015-08-25 20:25] geoffharcourt opened #147 "Handling deleted files"
There may not be a way to do this cleanly, but occasionally I've deleted local customizations in my dotfiles after they've been pulled into the base thoughtbot dotfiles. When those files are deleted, there are dead symlinks left behind that point to now-missing files. I'm trying to think of a way to prune these symlinks in a way that's both safe and reliable.

[2015-08-26 00:55] mike-burns commented on #147
I'd love to solve this. See #104 for prior thoughts on it.

[2015-08-26 13:19] geoffharcourt commented on #147
Nice, there's clearly already been a lot of thought here. My reaction after mulling this over is to advocate for something with less power than the manifest proposal, but something that safely prunes symlinks, especially ones that are nested in sub-dot-directories like `.vim` and `.zsh`. Here's what I'm thinking:

1. Make a list of the root directory and any directories referenced in the user's do

[2015-08-26 14:16] mike-burns commented on #147
How about a flag to rcdn(1) that only drops broken symlinks?

[2015-08-27 13:52] georgebrock commented on #147
How about a new rcck(1) command? I'm thinking of something like fsck(1) that can identify problems, and optionally repair them.

A separate command might be more flexible than an rcdn(1) flag, e.g. it could be invoked at the end of rcup(1).

[2015-09-05 22:17] jkniiv opened #148 "Hooks are not run in the directory they are contained but file generation would benefit from it"
Currently hooks are not executed with a current working directory being where they are situated. Instead it seems the cwd is set to the target directory for symlinked dotfiles, aka `$HOME`. However, this makes it hard to implement a simple makefile-driven generation of dotfiles from templates as one doesn't know for sure which one of `$DOTFILES_DIRS` the hooks belong to.

Case in point. I have the

[2015-09-07 19:21] jkniiv opened #151 "Solaris 10 lacks readlink(1), also neither the default grep(1) nor diff(1) have a `-q` option"
On Solaris I get the following kind of output from `make check` even with `LOG_COMPILER = cram --shell=/bin/ksh` set:
[code]
This means that the default `grep` on Solaris is rather handicapped. One could use `/usr/xpg4/bin/grep` but then we should have to test for its existence. Easiest I think is to avoid the `-q` option altogether and just redirect stdout to /dev/null (don't know if stderr shoul

[2015-09-07 22:16] jkniiv opened #153 "Test suite depends on a non-Bourne shell like Bash or Ksh"
On Solaris 10 I can't let the Cram test suite run with the default shell, i.e. /bin/sh, or I get a lot of failed tests. However if I apply the patch below (+ #152 for completeness) on for instance the tarball dist (generated by `make distcheck`), everything works just fine.
[code]
Frankly I don't quite know how to proceed. Most POSIX targets seem to have an alternative shell in addition to `/bin/s

[2015-09-27 15:49] otommod commented on #151
`grep -q` is [POSIX](http://pubs.opengroup.org/onlinepubs/009604499/utilities/grep.html) as far as I can tell.

[2015-09-27 17:01] jkniiv commented on #151
To paraphrase a well-known saying: POSIX is already here – it's just not very evenly distributed. ;)  The question is, do we want to support real systems (say, AIX, HP-UX and Solaris – in *addition* to Linux+POSIX) out there or some idealized targets only? Frankly, in my opinion, there are times for either approaches. It really depends on the nature of our software. I think RCM benefits from being

[2015-10-06 13:36] leomao10 commented on #79
Noticed that this is mark as 2.1.0 milestone, and this feature is merged almost 10 months ago, wondering if there is a date for  2.1.0 release?

[2015-10-06 13:40] mike-burns commented on #79
@leomao10 No set date, but I'd really like to get it out this month.

[2015-10-06 22:42] leomao10 commented on #79
Awesome :) Thanks a lot

[2015-10-07 19:11] kynan opened #157 "Invalid key for Launchpad PPA"
The key for the launchpad PPA given in the README appears to be invalid:

[code]

[2015-10-13 08:55] yuriihabrusiev opened #159 "Please provide package for Ubuntu 15.04 (Vivid Vervet)"
Can't install `rcm` from PPA because package for Vivid is missing.

[2015-10-17 10:34] samvv opened #160 "Fix manual installation steps"
When downloading the latest [release](https://github.com/thoughtbot/rcm/releases/tag/v1.2.3); when doing `./configure`, the following error occurs:

    ./configure: No such file or directory

What should be the correct command if we assume I'm doing the manual installation?

Also, when running `./autogen.sh`, it hangs on the following lines, so I wasn't able to generate it myself:

    man/Makefi

[2015-10-17 22:35] mike-burns commented on #160
That release page was generated automatically and I have no idea what it means or why it links to those files. I didn't make those tarballs, and they aren't signed by my private key.

Use this:  https://thoughtbot.github.io/rcm/dist/rcm-1.2.3.tar.gz

[2015-10-17 22:35] #160 closed

[2015-10-18 09:09] samvv commented on #160
Ooh right! Strange …

Anyways; thanks for the link.

[2015-10-29 04:16] mganjoo opened #161 "Release 1.2.4 package?"
The latest release package seems to be 1.2.3: https://thoughtbot.github.io/rcm/dist/rcm-1.2.3.tar.gz

Seems like the 1.2.4 release has been out for a while now -- could the dist folder be updated with a package for that version? That would allow the homebrew formula for rcm to be updated: https://github.com/thoughtbot/homebrew-formulae/blob/master/Formula/rcm.rb

[2015-11-01 02:38] hugelgupf commented on #161
Loads of features have been added and tons of bugs have been fixed since May 2014. I keep having to pull from master instead of using the packages because I use newer features. It's time to release a new package. +1

[2015-11-01 18:10] mike-burns commented on #153
The test suite has third-party dependencies (it now has a Perl dependency now, for example). That's fine. If someone is willing to run the test suite, they're willing to install third party tools. What's important is that the final product only depends on POSIX.

Solaris /bin/sh is a nightmare that we skip. See:

https://github.com/thoughtbot/rcm/blob/master/configure.ac#L8-L15
https://github.com/

[2015-11-01 18:10] #153 closed

[2015-11-01 18:12] mike-burns commented on #151
The PR is merged. Thank you for this, and I agree: RCM should run on as many real-world systems as possible.

[2015-11-01 18:12] #151 closed

[2015-11-01 18:48] mike-burns commented on #161
I never actually released 1.2.4. But I'm actually going to release 1.3.0. I've done this today:

1. Merged most PRs.
2. Closed some finished issues.
3. Bumped the version in `configure.ac`.
4. Made a tarball.
5. Verified it on OpenBSD.
6.. Emailed known package maintainers with the tarball, so they could try it.
7. Asked some OS X-using friends to try it on OS X.

Once I hear back from the GNU and

[2015-11-01 18:48] mike-burns commented on #159
Ping @Frost .

[2015-11-01 18:49] mike-burns commented on #157
Ping @Frost .

[2015-11-01 18:49] mike-burns commented on #148
Merged your fixes. Thank you!

[2015-11-01 18:50] mike-burns commented on #143
This seems to be taken care of now.

[2015-11-01 18:50] #143 closed

[2015-11-01 18:52] mike-burns commented on #135
We have a terrifying fix in #155. I don't have very concrete worries about it, so if someone here can try this fix and assure me that everything is going to be OK, and that it solves your problem, I'll be thrilled to merge it.

[2015-11-02 08:58] Frost commented on #157
Thanks. I'll have a look at it tonight.

[2015-11-02 09:00] Frost commented on #159
Ah. I'll take care of that. I just noticed that there is no package for 15.10 either, so I'll just fix that as well.

[2015-11-03 22:13] alobaid commented on #159
Tell then just use the Debian-based it works fine for both 15.05 and 15.10

[2015-11-04 17:40] Frost commented on #157
I just now noticed that my key listed in [DEVELOPERS.md](DEVELOPERS.md) is not the same one that I used for the PPA.

This might be a bit confusing, but it is not why the BADSIG is happening. Both keys are mine, so that should not be a problem. I will investigate this further.

[2015-11-04 17:54] Frost commented on #157
@kynan What version of Ubuntu are you using, and exactly what command are you running when you get this error?

I think I need some more info to be able to reproduce this.

I just ran the install instructions (copy-pasta from [README.md](/thoughtbot/rcm/blob/master/README.md) on a fresh install of Ubuntu 14.04 (Trusty Tahr).

[code]

The reason I'm using Ubuntu 14.04 is because that's one release

[2015-11-04 19:25] Frost commented on #159
@yuriihabrusiev rcm-1.2.3 is now available in the PPA for both 15.04 (Vivid) and 15.10 (Wily).

[2015-11-04 19:29] mike-burns commented on #159
Thank you, @Frost !

[2015-11-04 19:29] #159 closed

[2015-11-06 10:08] yuriihabrusiev commented on #159
Thanks, guys!

[2015-11-06 13:08] mike-burns opened #164 "Handle missing $USER"

[2015-11-06 13:08] #164 closed

[2015-11-06 13:10] mike-burns opened #165 "Handle missing $USER"
In `share/rcm.sh.in` we say:

[code]

But `$USER` is not guaranteed to be set. When unset, it leads to:

[code]

Fix this by either falling back to a known user (e.g. `${USER:-root}`) or checking for `$USER`'s value before passing it.

[2015-11-06 13:11] mike-burns commented on #165
When fixed, change `release_build_deb` to not pass through `$USER`.

[2015-11-06 14:17] mike-burns commented on #161
1.3.0 is out.

[2015-11-06 14:17] #161 closed

[2015-11-06 19:07] srstevenson commented on #165
`$LOGNAME` should always be initialised and set to the user's login name, [on POSIX](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap08.html#tag_08_03) at least.

[2015-11-06 21:11] geoffharcourt opened #166 "Allow dotfiles from different directories to be merged"
We have some files in our dotfiles that don't have the capability to source `local` versions, so you either need to pick the group version or override it with your personal version. (Examples of this in https://github.com/thoughtbot/dotfiles would be `.ctags` and `.agignore`. I've been unsuccessful convincing `ag`'s maintainer to allow sourcing of a second `.agignore`, but since I've already found

[2015-11-13 12:20] mike-burns commented on #166
Interesting idea. We could only support using cat(1) to merge them for now, unless you want to get fancy.

This means that the resulting file will not be a symlink? How will changes propagate? How will this file be maintained? How should rcdn(1) handle this file?

I think you'll want to look in `rcup.in`'s `handle_file` function when you start your patch.

[2015-11-13 12:21] #148 closed

[2015-11-13 12:35] mike-burns commented on #165
Fixed in a801c4c58902cae7b835d890487edc39bd7da142. Thank you, @srstevenson, for the quick solution.

[2015-11-13 12:43] geoffharcourt commented on #166
I think the file would have to be not a symlink, and would have to be rewritten every time rcup(1) was run. At the moment I have no idea how we would handle this with rcdn(1).

Thanks for the direction. The problem this idea solves has been somewhat frustrating lately with respect to ctags and the_silver_searcher config.

[2015-11-14 18:49] geoffharcourt commented on #147
@mike-burns @georgebrock I started fleshing out `rcck(1)` in https://github.com/thoughtbot/rcm/pull/167. Would like to get your feedback on the approach before I start work on tests, a man page, and anything else that might be needed to produce a complete solution.

[2015-11-14 18:58] geoffharcourt commented on #147
This approach would not handle non-dotted broken symlinks directly under `$HOME` or broken symlinks in non-dotted folders, but I think the potential slowness of traversing every directory under `$HOME` is not worth the cost.

[2015-11-14 19:33] geoffharcourt opened #168 "Tests hang"
When I run the test suite at a801c4c58902cae7b835d890487edc39bd7da142 with `make check` on OS X 10.11 (El Capitan) with zsh, several of the tests pass, and then the suite appears to get hung up while running `mkrc-simple-output.t`. An empty log file is generated for that test, and the suite hangs for minutes with no indication of progress.

[2015-11-14 19:34] geoffharcourt commented on #168
[code]

[2015-11-14 19:38] geoffharcourt commented on #168
I get the same problem when running the tests under `sh`.

[2015-11-15 01:40] mike-burns commented on #168
If you add:

[code]

to the second line of `test/mkrc-simple-output.t` and run that:

[code]

It should fail; does `test/mkrc-simple-output.t.log` illuminate where it's hanging?

[2015-11-15 14:24] geoffharcourt commented on #168
Unfortunately I get a similar result. The log file is created, but it blank. The test produces no output and doesn't terminate.

[2015-11-15 18:56] mike-burns commented on #168
Wild. How about, with that `set -x` moved up to the very first line:

[code]

[2015-11-15 19:14] geoffharcourt commented on #168
With line 1 of the test being `set -x` I get this output:

[code]

Very weird. When I run these commands with other tests the output is what I would expect (finishes immediately, outputs a summary of the test run).

[2015-11-16 20:42] kylecook80 opened #169 "rcdn: "Cannot remove /home: Permission denied""
I ran rcdn to remove my dotfiles from my home directory, whenever this above error displayed. Nothing was deleted thankfully, but the fact that this even ran scared me to death. WHY was this command even attempted to be run?! I ran this on CentOS 6.

[2015-11-16 21:12] kynan commented on #157
@Frost I did pretty much exactly the same as you did and I'm on Mint 17 (Ubuntu 14.04 derivative). I can't tell what changed but I no longer get the warning.

[2015-11-17 07:58] mike-burns commented on #169
Glad to hear that your permissions stopped this from happening.

Can you post the output of `lsrc -vv`?

[2015-11-19 05:07] kylecook80 commented on #169
https://gist.github.com/kylecook80/04ed734f4a201a93eb37

[2015-11-19 14:02] mike-burns commented on #169
Interesting. Can I see your .rcrc file, if you have one (which I think you do)?

[2015-11-19 20:52] kylecook80 commented on #169
I actually do not have an .rcrc file, which is curious since it is referenced a number of times there...

[2015-11-19 21:17] mike-burns commented on #169
That is all quite surprising. You're right; on a second reading, there is no .rcrc (and it looks like there's a small bug when dealing with empty directories). I'll have to create a test setup locally -- glad to see you've published your dotfiles, I'll try with those.

Thanks for reporting this.

[2015-11-20 03:01] kylecook80 commented on #169
Awesome. Glad I could help!

[2015-11-20 10:45] mike-burns commented on #169
Here's an update:

rcdn(1) will remove the dotfile and then attempt to remove the parent directory, if it is empty. This is to handle e.g. `.irssi/config` -- it will remove both `config` and `.irssi`.

Here's the code in question: https://github.com/thoughtbot/rcm/blob/master/bin/rcdn.in#L14-L15

It's sending errors to `/dev/null`, which raises the question: why are you seeing an error?

And also,

[2015-11-20 13:22] #169 closed

[2015-11-20 13:23] mike-burns commented on #169
It was too aggressively recurring up the filesystem. The latest commit (a68804713a6cb9eb96278df597fd0b4fefc36598) fixes this.

Thanks again for reporting it!

[2015-11-22 07:33] kylecook80 commented on #169
Fantastic! Thanks for the fix!

[2015-11-27 12:16] mike-burns commented on #11
Captured in a test on the `exclude-globs` branch: https://github.com/thoughtbot/rcm/blob/exclude-globs/test/lsrc-excludes.t#L22-L32

[2015-12-02 18:42] casey opened #171 "Add macports instructions to readme"
rcm is available in macports, so it would be great to mention it in the readme for people who use it.

Thanks!

[2015-12-03 05:41] mike-burns commented on #171
Can you submit a PR? I have no idea what MacPorts users need to know to use it.

[2015-12-03 05:58] casey commented on #171
Opened a PR!

[2015-12-14 18:15] mike-burns commented on #31
This exists! http://www.freshports.org/sysutils/rcm/

[2016-01-05 14:47] mike-burns commented on #171
Wonderful. Closing this, and I'll merge the PR next time I get a chance.

[2016-01-05 14:47] #171 closed

[2016-01-08 16:42] langri-sha opened #173 "Add support for tag, host hooks"
I have certain tags that require cloning repositories, building sources and retrieving large static assets, but unfortunately I have to collocate the `pre-up`, `post-up` hooks in the dotfiles directory hooks and have them execute even though I may not be requiring these tags in the environment at all.

For example, imagine a `pre-up` hook for `tag-gnome` where you fetch your favorite fonts, deskto

[2016-01-08 18:01] mike-burns commented on #173
To clarify, you're proposing `tag-gnome/hooks/pre-up`?

[2016-01-08 21:35] langri-sha commented on #173
Yes, to introduce `pre-up` and `post-up` hooks for tags and hosts.

[2016-01-08 21:45] mike-burns commented on #173
Sounds like something I'd merge.

If you want to submit a pull request:

- clone the repo
- follow https://github.com/thoughtbot/rcm/blob/master/CONTRIBUTING.md
- make sure the test suite passes
- add a new test (see the very bottom of CONTRIBUTING.md)
- make the change. It will be in this range: https://github.com/thoughtbot/rcm/blob/master/share/rcm.sh.in#L119-L140

My guess on the change is tha

[2016-01-08 21:45] #173 closed

[2016-01-09 10:00] langri-sha commented on #173
I avoided looking at the sources like the plague, but appears to be less scary than I thought. Thanks a lot for the pointers!

[2016-02-06 14:51] geoffharcourt commented on #166
I've been thinking more about how to implement this. The most compelling current case is to merge `ctags` files from different dotfiles repositories. At the moment, you're stuck with your own or the team's ctags configuration.

[2016-02-11 21:33] johankj opened #175 "Symlink subdirectory"
I was hoping that `SYMLINK_DIRS="dir/subdir"` would create `dir` if it didn't exist and symlink `~/.dir/subdir` to `~/.dotfiles/dir/subdir`, but it looks like it gets ignored and every file in `dir/subdir` gets symlinked as if the `SYMLINK_DIRS` variable was empty.

Is there any way to do this? Or should I just use hooks?

[2016-02-12 21:56] mike-burns commented on #175
That should work. Can you provide an example that does not work so that we can better reproduce this bug?

[2016-02-13 08:18] johankj commented on #175
Given the following structure
[code]
… and `SYMLINK_DIRS="dir/subdir"`, I would expect the symlink (lsrc) to be:
[code]
Instead the following is given:
[code]

In my case, I'd want any future `~/.dir/subdir/subsubdir-x` to be created inside `~/.dotfiles/dir/`.

If I change `SYMLINK_DIRS="dir"` the output is the expected
[code]
… but that is not my preferred setup, as `~/.dir` will contain temporar

[2016-02-19 10:08] mike-burns commented on #175
I have looked into this and (re-)learned the issue:

`is_excluded` takes the file in question (without the path) and the `SYMLINK_DIRS` (which includes the path). It then compares them and, since one has the path and the other does not, they do not match. So it considers it not a match.

This works around your immediate problem:

[code]

But the larger issue is still there.

[2016-02-19 13:03] mike-burns commented on #175
I've made some progress in the `is_excluded-relatively` branch. Hopefully the workaround will suffice for now.

[2016-02-28 03:02] BKStephens opened #176 ""sudo dnf copr enable seeitcoming/rcm" errors out"
I am trying out Korora 23 in a VM, and I receive the following output from "sudo dnf copr enable seeitcoming/rcm"

[code]

[2016-02-28 07:59] mike-burns commented on #176
I'm not entirely sure who made this package, so I don't know who to ping on this one. Do you know?

[2016-02-29 16:54] BKStephens commented on #176
Looking at https://copr.fedorainfracloud.org/coprs/seeitcoming/ and the committers for this repo, I can see seeitcoming has the same profile picture as @supervacuo

[2016-02-29 18:50] supervacuo commented on #176
Hi, yes, it was me!

This looks like a problem with Korora; I hit their website to find out how it was even using `dnf` (distro was gentoo-based last time I looked...) and their latest blog post is "When Adding a COPR repo to Korora Fails":

[2016-02-29 18:56] supervacuo commented on #176
fix it, for glittering imaginary internet point prizes:

- edit `rcm`'s README to document this workaround **(1 point)**
- verify if it's actually a problem with `dnf` **(4 points)**
- make sure a bug report is filed wherever it belongs **(10 points)**
- patch `dnf` to handle Fedora Remixes correctly **(50 points)**
- wait for me to do one of the above **(0 points ☺)**

[2016-03-01 01:14] BKStephens commented on #176
Thanks for finding [that](https://kororaproject.org/about/news/when-adding-a-copr-repo-to-korora-fails)! I just tried the workaround, and it works:
[code]
@mike-burns Would you accept a PR to add Korora instructions to the Installation section of the README?

[2016-03-01 08:12] mike-burns commented on #176
I'd love to PR to add Korora instructions to the README.

[2016-03-08 12:26] IvanAnishchuk opened #178 "Packages for Ubuntu 16.04 / Xenial"
It would be beneficial to have packages in PPA built for upcoming Ubuntu 16.04. It's the next LTS release and I suspect many will rush to upgrade from 14.04. Packages built for Wily seem to be working ok so I don't suspect any great changes required. Thank you.

[2016-03-08 12:41] Koronen commented on #178
Ping @Frost.

[2016-03-08 13:09] Frost commented on #178
Thanks for the mention. I'll try to do fix this during the week.

[2016-03-08 17:23] Frost commented on #178
@IvanAnishchuk rcm 1.2.3 should now be available for xenial.

I'll try to get around to push 1.3.0 to the PPA in a while. It's been too long.

[2016-03-29 12:54] IvanAnishchuk opened #179 "SHA1 is used for signatures in ubuntu ppa"
After an update, apt started to throw this warning:

`W: http://ppa.launchpad.net/martin-frost/thoughtbot-rcm/ubuntu/dists/xenial/InRelease: Signature by key 4E9A5EF6BD18E32A513B691C4609D1E5ECA538E6 uses weak digest algorithm (SHA1)`

[This wiki page](https://wiki.debian.org/Teams/Apt/Sha1Removal) provides some details how to fix it. There's enough time before it becomes critical (Jan 2017), just

[2016-03-29 12:55] IvanAnishchuk commented on #179
Ping @Frost , I suppose.

[2016-03-29 13:31] Frost commented on #179
@IvanAnishchuk Yes, that would be me. Thanks for the notification.

[2016-04-08 00:34] jsok opened #180 "Hooks per tag"
Just seeing if there is interest in supporting hooks on a per tag basis? The global hooks directory is useful but often a hook is only necessary if a certain tag is enabled.

The directory layout would be similar but allow a nested `hooks` directory under each tag, i.e.:

`.dotfiles/tag-*/hooks/pre-up` and `.dotfiles/tag-*/hooks/post-up`, or `.dotfiles/tag-*/hooks/pre-up/*` and `.dotfiles/tag-*/ho

[2016-04-08 07:00] mike-burns commented on #180
Yup, I'd consider it. I don't have a use for it -- the existing hooks can check for the existence of files and act accordingly as needed. But if you have a solid use case and your implementation is of low complexity, I'd merge it.

[2016-04-08 07:00] #180 closed

[2016-04-08 09:36] #176 closed

[2016-04-08 14:33] willnorris commented on #175
I've run into this issue as well.

I've been using the workaround, but the main problem with that for me is that it applies to all directories with that name; there's no way to specifically target a given directory.  For example, I just want my `~/.vim/bundle` directory to be a symlink, so I have `SYMLINK_DIRS="bundle"`, but that causes *all* directories named "bundle" to be symlinked.

[2016-05-16 08:09] atzorvas commented on #178
@Frost any updates about the 1.3.0 release in the PPA?
thanks!

[2016-05-22 14:41] wassimk opened #182 "How to undo a mkrc command"
I've done a `mkrc file` to get something into my dotfiles but now I want to undo that. Is there an opposite to `mkrc`. I've read through the man pages a couple of times and I just can't seem to find it.

[2016-05-23 06:55] mike-burns commented on #182
There is not,no. We're not opposed to such a thing -- if you write such a script, I'd gladly add it to the rcm suite -- but no such script exists.

So for now:

[code]

[2016-05-23 06:55] #182 closed

[2016-05-24 02:49] jez opened #183 "SHA1 is deprecated by Homebrew"
I get this error immediately upon installing rcm:

#### Steps to reproduce

[code]

#### Relevant error message

[code]

Seems like a simple enough change. Let me know if you need any more information.

[2016-06-26 17:21] orenyk opened #184 "Fedora 24 installation fails"
Hi, I'm trying to install RCM on Fedora 24 through DNF but it looks like the COPR repository isn't set up yet to work with that version (I believe pinging @supervacuo would be appropriate based on #176). I'll probably proceed with a manual installation unless this is fairly quick fix, thanks!

**EDIT** Here's what I'm seeing:

[code]

[2016-06-27 11:41] supervacuo commented on #184
I've rebuilt for F24 (haven't updated the package itself yet); try it now?

[2016-06-28 04:18] orenyk commented on #184
Thanks! I'll try to install it again tomorrow and let you know if it works.

[2016-06-28 18:35] orenyk commented on #184
Worked great, thanks!

[2016-06-28 18:35] #184 closed

[2016-08-02 16:57] infokiller commented on #166
The same problem exists with i3, and there's probably other programs.
It would be great to have this feature implemented even in a basic experimental version using cat and overwriting the files. Later it can be improved.

[2016-08-09 18:59] martinp26 opened #185 "mkrc should use relative paths in symlinks"
This would allow easy synchronization between different machines and would be robust against moving the home directory to a different place, changing user names, or mounting it in a different place.

[2016-08-10 19:15] schmijos opened #186 "rcup doesn't ask to overwrite file with symlink"
I'm using Thoughtbot's *dotfiles* and my own *dotfiles-local*.

**How can force `rcup` to overwrite a config file with a symlink pointing to `dotfiles-local`?**

In my specific example I want to replace the installer generated *gnupg* configuration with my own one.

I've a `.gnupg` folder in my home directory looking like this:

    ls ~/.gnupg
    gpg-agent.conf pubring.gpg    random_seed    trus

[2016-08-11 13:01] mike-burns commented on #185
Quite the list of edge cases there!

I'm not opposed to reviewing a diff on this. You'll want to look at the `handle_file` function in `bin/rcup.in`, especially the call to `link_file`.

Though looking at it now, the absolute path originates in `lsrc`; look at `handle_file` in `bin/lsrc.in` to see how it constructs the destination file name.

[2016-08-11 13:01] #185 closed

[2016-09-20 03:35] #168 closed

[2016-09-20 03:35] #166 closed

[2016-09-24 14:06] infokiller commented on #166
@geoffharcourt is this feature now supported?

[2016-09-25 21:22] LandonSchropp opened #187 "Excludes for hooks"
It would be great if `EXCLUDES` applied to hooks as well as linked files. For example, it would be awesome if I could do this in my `rcrc` file:

[code]

[2016-09-25 23:36] mike-burns commented on #187
For your patch, you'll want to look at the `run_hooks` function in `share/rcm.sh.in`, especially the call to find(1).

That said, what's the use case for this?

[2016-09-26 02:58] LandonSchropp commented on #187
@mike-burns Thanks for the quick reply. Here's what my actual `rcrc` file looks like:

[code]

As you can see, I'm excluding the Thoughtbot Vim files. One the files are symlinked, I'd like to install the plugins from my `.config/nvim/plugins.vim` file. To accomplish that, I added a `post-up` hook to my dotfiles repo:

[code]

Unfortunately, post-up hook runs *before* the Thoughtbot dotfiles [post-

[2016-09-26 13:49] geoffharcourt commented on #166
@infokiller, no. I don't anticipate having time in the medium-term to write a PR to implement this functionality, and did not want to leave a dangling issue open, as there doesn't seem to be a widely-felt need to have this feature. If you do want to tackle this, please re-open with a PR. (I would gladly use it!)

[2016-11-11 06:29] TheLonelyGhost opened #188 "rcup hooks execute in random order"
Using [my dotfiles](https://github.com/thelonelyghost/dotfiles) (forked off of the [official thoughtbot dotfiles](https://github.com/thoughtbot/dotfiles) repo) with `rcm` is nice. I started taking advantage of the pre- and post-hooks to install packages on a once-off, idempotent basis. The problem is they run out of order.

[code]

I've narrowed this down to a streaming issue with `find`, where it

[2016-11-11 06:43] oopsfoo opened #189 "Packages for Ubuntu 16.10 / yakkety"
Please update PPA
thank you @Frost

[2016-11-12 21:21] mike-burns commented on #188
Merged as bc0d5b63f6c4762b7d39fb32b525f977015ff4b3, thank you!

[2016-11-12 21:21] #188 closed

[2016-11-21 05:20] stewarttylerr commented on #189
@Frost Any update on this?

[2016-11-21 08:16] Frost commented on #189
@stewarttylerr 1.3.0 should be available from the PPA by now :smile:

[2016-11-21 08:17] Frost commented on #178
@atzorvas Sorry for the loooooooong delay. 1.3.0 should  be available now.

[2016-11-22 06:14] stewarttylerr commented on #189
Beautiful, thank you!

[2016-11-24 15:08] Frost commented on #189
This issue can probably be closed now. Ping @mike-burns, for instance.

[2016-11-24 15:08] Frost commented on #178
This issue can probably be closed now. Ping @mike-burns, for instance.

[2016-11-24 19:55] Frost opened #191 "Packages for Fedora 25"
Fedora 25 has been released, and the linked [copr repository](https://copr.fedorainfracloud.org/coprs/seeitcoming/rcm/) in the README does not yet supply packages for it.

[2016-11-25 04:03] mike-burns commented on #189
Thank you for taking care of this, Frost!

[2016-11-25 04:03] #189 closed

[2016-11-25 04:03] mike-burns commented on #178
Thank you for taking care of this, too, Frost!

[2016-11-25 04:03] #178 closed

[2016-12-23 20:23] mike-burns commented on #11
This might be fixed by #192.

[2016-12-23 20:24] mike-burns commented on #92
Fixed by #192.

[2016-12-23 20:24] #92 closed

[2016-12-23 21:52] mike-burns commented on #135
This should be fixed by #193.

[2016-12-25 05:32] sontek commented on #183
This still exists as a problem 7 months after the report.

[2016-12-26 01:25] mike-burns commented on #183
If you're looking for the place to submit a patch, you want this: https://github.com/thoughtbot/homebrew-formulae

[2016-12-26 21:28] #11 closed

[2016-12-26 21:42] #135 closed

[2016-12-26 21:46] mike-burns commented on #157
Seems like things work now? Closing, but let me know if I mis-interpret this.

[2016-12-26 21:46] #157 closed

[2016-12-26 21:47] mike-burns commented on #175
Fixed by #192.

[2016-12-26 21:52] mike-burns commented on #186
Interesting. So, a minimal test case is:

[code]

[code]

This will cause `.directory/file` _not_ to be symlinked?

[2016-12-26 23:17] willnorris commented on #175
@mike-burns unless I'm mistaken, #192 just fixes using globs in excludes (which is great).  It doesn't seem to change anything about symlink dirs, does it?

[2016-12-27 14:50] mike-burns commented on #175
To be honest, I do not have a test case for this bug so I do not know for certain that it is fixed. I am basing this on my notes above: the issue is that `is_excluded` does not handle relative file paths. That specific issue is fixed in #192.

I'll re-open this until someone can confirm that it is fixed.

[2016-12-27 16:23] willnorris commented on #175
I think #11 was about `is_excluded` not handling relative file paths.  This bug is about `symlink_dirs` similarly not handling relative file paths which this doesn't seem to fix (I tried building from source and experienced the same behavior as before).  I suspect that the logic is similar enough though, that I'll look a little closer at #192 and see if I can modify it for handling `symlink_dirs`

[2017-01-08 17:51] Frost commented on #191
@mike-burns I think this can be closed now. There are packages for Fedoras 22-26 now, even though it's only 1.2.3 so far.

[2017-01-08 17:57] Frost commented on #179
Hi @IvanAnishchuk, is this still the case with the newer packages (rcm 1.3.1)?

[2017-01-08 20:26] mike-burns commented on #191
Thank you!

[2017-01-08 20:26] #191 closed

[2017-01-27 19:56] RobertAudi opened #197 "rcup creates superfluous directories for dotfiles with spaces"
This is related to #135 which was closed by #193. But One bug still remains and it's related to `xargs` in [bin/rcup.in#L150](https://github.com/thoughtbot/rcm/blob/147a7b6/bin/rcup.in#L150) and possibly elsewhere.

For example, this will create the directory `/Users/rob/Library/Application`:

[code]

The problem is that `xargs` doesn't respect quoting. I believe the issue can be resolved using th

[2017-02-01 18:30] davilera opened #199 "Installation on a Debian system"
According to your `readme.md`, to install `rcm` on a Debian-based system we need to add the `apt-key` from:

`https://apt.thoughtbot.com/thoughtbot_apt.gpg.key`

However, its real location is:

`https://apt.thoughtbot.com/thoughtbot.gpg.key`

[2017-02-01 20:06] Koronen commented on #199
#195 addresses this issue.

[2017-02-01 20:09] davilera commented on #199
Yup, you're absolutely right. Should we close #199, then?

[2017-02-02 00:06] #199 closed

[2017-02-16 11:42] fgtham opened #200 "mkdir, rcup do not like /bin/dash"
`mkrc` and `rcup` throw errors if `/bin/dash` is used as interpreter.

How to reproduce:

[code]

No problems with `/bin/bash`:

[code]

[2017-02-22 19:33] fgtham commented on #197
Another solution might be:

[code]

[2017-02-22 21:57] fgtham commented on #197
Or just drop `xargs`. The `-0` flag is not portable as well:

[code]

[2017-02-24 22:31] #200 closed

[2017-02-26 07:05] alobaid opened #204 "Vim: Warning when using rcup"
I keep getting
Vim: Warning: Input is not from a terminal
when using rcup command
on ubuntu 16.10 4.8.0-39

[2017-02-28 02:29] 3flex opened #205 "Release 1.3.1 to Thoughtbot's APT repository"
So happy to see a Debian repo for this! Unfortunately it doesn't seem to be updating when new releases are pushed - or at least, it hasn't been for 1.3.1.

Cheers!

[2017-03-01 09:35] golovan opened #206 "How to update existing folder"
Hi guys!

I have a question about how to renew my files in .dotfiles dir.

Example: I have an Atom editor and have already created linked folder with 'mkrc .atom' and used it on another computer. Then later I added some packages to editor and want to renew my .dotfiles/atom folder. What should I do? 'rcup atom' seems not to add new files. If I try to run 'mkrc .atom' it creates folder .dotfiles/at

[2017-03-07 02:02] mike-burns commented on #206
To sync files, I recommend just `rcup`. You can get more verbosity and visibility into what it's doing by passing `-v`, like so: `rcup -v`.

Hours? That's exciting. How many files are we talking here?

[2017-03-07 03:14] mike-burns commented on #204
This is a problem with your hooks. Check those.

If you're using the thoughtbot dotfiles, see this commit and its comments: https://github.com/thoughtbot/dotfiles/commit/99a18f6dbe99929769f28ad089cc39992d05951c

[2017-03-07 03:14] #204 closed

[2017-03-07 15:15] tabfugnic commented on #205
Updated latest release to thoughtbot apt repo

[2017-03-07 15:15] #205 closed

[2017-03-10 15:58] #197 closed

[2017-03-26 20:01] devth opened #207 ".rcmignore file"
Instead of having to specify which files to ignore with `-x` `rcm` should support a `.rcmignore` file or similar, the same way `.gitignore` works.

[2017-03-27 02:45] mike-burns commented on #207
Previously discussed on #86.

When you open your pull request, I will be interested in this discussion: we already have `EXCLUDES` and `INCLUDES` in rcrc(5); what does an additional rc file get us?

[2017-03-27 02:45] #207 closed

[2017-03-27 15:17] devth commented on #207
a little presumptuous :)

EXCLUDES wfm. I missed this when searching through the issues. Thanks!

[2017-04-11 14:41] benjamreynolds opened #208 "[question] Symlinking files that do not belong in the root directory"
I have a use case where I keep the configuration for my [Übersicht](https://github.com/felixhageloh/uebersicht) widgets, (namely menubar replacement) in my dotfiles repository. [This](https://github.com/benjamreynolds/dotfiles/tree/master/nerdbar.widget) directory needs to be symlinked to `~/Library/Application Support/Ubersicht/widgets/nerdbar.widget`. I didnt find anything obvious in the documen

[2017-04-11 19:08] mike-burns commented on #208
Is that something you could use rcrc(5)'s `UNDOTTED` option/rcup(1)'s `-U` option for?

[2017-04-11 19:25] benjamreynolds commented on #208
Do you mean storing the configuration in something like... `.dotfiles/Library/Application Support/Ubersicht/widgets/nerdbar.widget` and declaring the `Library` folder as `UNDOTTED`? Wouldn't that symlink my entire `~/Library` folder, leading to some pretty unpredictable behavior with my whole system? (considering `~/Library` holds all sorts things)

[2017-04-11 21:42] mike-burns commented on #208
Could combine that with `COPY_ALWAYS`/`-C` to avoid the symlink.

Also, only files are symlinked, not directories (unless you use `SYMLINK_DIRS`/`-S`).

[2017-04-19 23:40] pmkhoa opened #209 "Updating to rcm 1.3.1 results in strange terminal state requiring reset"
Related issue can be found here: https://github.com/thoughtbot/dotfiles/issues/516
After updating to rcm 1.3.1, running `rcup` causing this:
[code]

Current environment:
-  vim: 8.0
-  iTerm: 3.0.14
- zsh: 5.0.8

[2017-04-21 02:32] mike-burns commented on #209
This is a dotfiles bug. (Really it's a vim bug.)

[2017-04-21 02:32] #209 closed

[2017-05-19 22:50] pachonk opened #210 "[Question] Is there a way to keep the dot on the dotfiles?"
When it moves the dotfile into the repo, it removes the dot.
Is this rather standard? I feel like it should leave the dot on the dotfile.

[2017-05-20 01:23] mike-burns commented on #210
There is no way to keep the dot. Feel free to put any hidden files in there with a dot, and they will be ignored by rcm.

[2017-05-20 01:23] #210 closed

[2017-05-30 21:49] jschaf opened #211 "Symlinks for dotted files in subdirectory, .e.g ~/.dotfiles/zsh/.zshrc"
I can't figure out how to make ~/.dotfiles/zsh/.zshrc link to ~/.zsh/.zshrc.

rcup ignores dotted files in subdirectories.  Is there a way to change this behavior?

[2017-05-30 23:02] mike-burns commented on #211
There is no way to keep the dot. Feel free to put any hidden files in there with a dot, and they will be ignored by rcm.

[2017-05-30 23:02] #211 closed

[2017-06-03 12:18] ratijas commented on #175
somehow i'm glad i'm not the only one having such problem. :)

today i began managing dotfiles and instantly got hit by this limitation: i'd like to have directory `~/.vimperator/colors` symlinked, while `~/.vimperator` as such contains other sensitive data which must not leak into repository under any circumstances.

unless there's a better solution, i'm symlinking all files under aforementioned

[2017-06-04 20:55] mgorny opened #212 "Tests are not parallel-safe"
I've noticed that the tests can fail when run with `make -jN check` (N > 1). This at least applied to rcup/rcdn tests because they all use the same path `/tmp/test` path, so if multiple tests run in parallel, they might simultaneously use the same file and e.g. one test may remove it when other expects it to exist.

Besides, it'd be a much better idea to use safe filenames for tests. Otherwise you

[2017-06-05 01:17] jschaf commented on #211
For future finders of this issue, here was my workaround to keep zshrc, zshenv and friends inside ~/.dotfiles/zsh

**~/.dotfiles/hooks/post-up/010-link-zsh-startup**

[code]

[2017-06-05 13:30] mike-burns commented on #211
Ah, `ZDOTDIR`. Got it.

How about:

`~/.rcrc`:

[code]

?

[2017-06-06 00:37] jschaf commented on #211
Yes, that was my initial solution.  There were a couple downsides:

* .zsh_history, cache and other data ends up in your repo which you need to add to .gitignore.
* I have a work dotfiles that installs some zsh scripts.  The symlink approach prevents that from working.  This was the reason I did the post-hook approach.

[2017-06-06 19:12] mike-burns commented on #212
Sounds great, I'd definitely merge a patch that fixes this.

[2017-06-12 10:36] nisanth074 commented on #206
I ran into this issue as well.

I had backed my configuration files by running `mkrc -C` commands many months ago. I bought a new laptop this week and wanted to use my configuration files on the new laptop. Since I changed my configuration files many times since the first backup, I tried backing them up again. Unfortunately, I couldn't find an easy way to do it. It seems like the only way to backu

[2017-06-13 18:04] benjaminwood commented on #144
I can confirm this, as I just had it happen myself. It's a dangerous bug for those that are new to dotfile management (of which I am one). Fortunately I did have a backup of this file, so it wasn't lost forever. It did give me a moment of fright, though.

I think it'd be simple to fix. If the target file is a symlink, abort. I can't think of a situation where you'd want to move a symlink into your

[2017-06-23 17:35] mike-burns commented on #144
@benjaminwood yup agreed: if the target is a symlink, abort.

[2017-07-04 21:50] masaeedu commented on #165
@mike-burns I'm seeing the same error message immediately after `running pre-up hooks for /cygdrive/c/Users/asaeeduddin/.dotfiles`, but it might be caused by some other missing variable. I *can* see that `$USER` isn't specifically what's missing. Any ideas how I would go about debugging this?

[2017-08-12 15:49] hairyhenderson opened #214 "Debian install instructions no longer work for non-x86 systems"
Ever since https://github.com/thoughtbot/rcm/commit/f41e403fa8edbc3ba5bb893b60ad734f9e108660 was merged, the new instructions for installing `rcm` on Debian-based systems only work on `i386` and `amd64` architectures, despite the fact that none of the code is architecture-specific.

[2017-08-12 15:52] hairyhenderson commented on #214
One note - it _is_ still possible to just download http://apt.thoughtbot.com/debian/pool/main/r/rcm/rcm_1.3.1-1_all.deb and install it with `dpkg`.

[2017-08-12 18:09] mike-burns commented on #214
Ping @tabfugnic .

[2017-09-02 20:47] magikid opened #215 "Links in man pages don't always work"
The links in the man pages to specific sections don't always work.  Specifically, when the section being linked to is on a different man page, the link doesn't work.

For example, under the [DESCRIPTION section](https://thoughtbot.github.io/rcm/rcrc.5.html#DESCRIPTION) of the rcrc.5.html page is a link to [EXCLUDE_PATTERN](https://thoughtbot.github.io/rcm/rcrc.5.html#EXCLUDE_PATTERN) which should

[2017-09-02 22:25] magikid commented on #215
After reading through mandoc documentation for [Xr](http://mdocml.bsd.lv/man/mdoc.7.html#Xr), it doesn't seem possible to use that macro to link the pages.

It may be possible through the [Lk](http://mdocml.bsd.lv/man/mdoc.7.html#Lk) macro since that generates links to arbitrary pages but I can't get mandoc to generate reasonable ids for the links.  So far the only link ids I can get mandoc to gen

[2017-09-05 15:16] mike-burns commented on #215
This might require patches to the mandoc HTML generator. Something around here, I suspect: https://github.com/openbsd/src/blob/a44f9822a98f5f92d75e4231acd17435c1f03729/usr.bin/mandoc/mdoc_html.c#L614-L615

[2017-09-05 15:18] #208 closed

[2017-09-05 15:18] #212 closed

[2017-09-15 17:59] tabfugnic commented on #214
Testing it now

[2017-09-15 18:33] #147 closed

[2017-10-05 14:36] tabfugnic commented on #214
@hairyhenderson Reprepro, which i use for managing the apt server, no longer accepts an all architecture, it was a hack and was broken. I've instead added every officially supported Debian architecture to the apt server distribution file. This works on a RaspberryPi running on an ARM processor. Hopefully this helps

If not can you tell me what architecture you are on so that i might be able to fix

[2017-10-05 14:36] #214 closed

[2017-10-08 02:09] hairyhenderson commented on #214
@tabfugnic Thank you! I can confirm that this works now. I've tested it on an `arm64` system too:

[code]

👍

[2017-10-17 16:53] aha opened #217 "Customizable HOME directory / remote support"
This is a enhancement proposal. I don't have code to back it up as I implemented a solution with Make already. However, it would be fantastic to have in rcm the support to deploy locally managed host-specific dotfiles to remote hosts. Or at least allow to "stage" or build host specific dotfiles to configurable HOME directories (which then could be copied to remote hosts).

In my case, I need diffe

[2017-10-25 14:07] rmeritz opened #218 "Cannot use `~` in `DOTFILES_DIRS` in `rcrc`"
I was not able to use `DOTFILES_DIR="~/my-dots"`. I got no output from `lsrc`. But when I switch to `/home/username/my-dots` it worked.

[2017-10-26 01:42] mike-burns commented on #218
This is a great idea!

If you want to implement this, you'll probably want to do that around https://github.com/thoughtbot/rcm/blob/master/bin/lsrc.in#L320 .

I don't know the most portable tool to expand `~` -- I see that readlink(1) on OpenBSD has a `-f` flag that does this -- but the easiest thing to do might be to `s/~/$HOME`.

[2017-10-26 01:42] #218 closed

[2017-11-16 08:53] chebykin opened #221 "Ubuntu 17.10 installation failed"
It seems that Ubuntu 17.10 support doesn't work out of the box. When I followed instructions from README.md/Ubuntu section the `sudo apt-get update` command failed. I also haven't found the corresponding `artful` folder at http://ppa.launchpad.net/martin-frost/thoughtbot-rcm/ubuntu/dists/

It can be manually fixed by changing `artful` to `zesty` at `/etc/apt/sources.list.d/martin-frost-ubuntu-thou

[2017-11-17 11:44] IvanAnishchuk commented on #221
Just wanted to create an issue like this :) No, I don't thing it cab be fixed by editing local configs, packages for the the version must be added to ppa first.

We should probably make it a regular event and start pinging @Frost right after the new release is out :D

[2017-11-27 14:13] andremedeiros opened #222 "`rcup -g` has incorrect behaviour with hooks"
When I generate the `install.sh` file, I want it to run the hooks as well.

Running `rcup -g` generates it so it maintains the symlinks, but it doesn't run the hooks on the generated shell script. Instead, it runs them as if I wanted to apply `rcup`.

[2017-12-10 10:03] nasr18 commented on #206
Hi all,
I need one plugin `surround.vim`. Where I have to add this plugin?
under `~/.dotfiles/vim/plugin` or `~/.vim/plugin`?

[2017-12-10 23:32] mike-burns commented on #206
@nisanth074 do you need to use `-C`? I'm not entirely sure how to solve that issue.

[2017-12-10 23:33] mike-burns commented on #206
@nasr18 Add it under `~/.vim/plugin` then use `mkrc ~/.vim/plugin/surround.vim` to link it using rcm.

Please let me know how we can improve the docs to make this more clear.

[2017-12-13 17:38] jsmestad opened #224 "Update `rcm` copr for Fedora 27"
Now that Fedora 27 is out, the copr repo needs to be updated to support the latest version.

[2017-12-28 21:53] michaelghinrichs commented on #221
seems like this is still an issue, any idea about how much longer we will have to wait? :)

[2017-12-29 12:18] Frost commented on #221
HI everyone, and sorry for the delay.

I just uploaded an rcm-1.3.1 package to the ppa. Please test it out and see if it works.

[2017-12-30 15:46] michaelghinrichs commented on #221
Wooot! Works for me, thanks so much :)

[2018-01-02 10:54] Frost commented on #221
Then I believe this issue can be closed. Ping @mike-burns, maybe?

[2018-01-02 14:54] mike-burns commented on #221
Thank you @Frost !

[2018-01-02 14:54] #221 closed

[2018-01-02 16:22] Frost commented on #179
I have verified that the source packages uploaded to the PPA for rcm 1.3.1 all contain a `Checksums-Sha256` entry, so I believe this issue can be closed.

Ping @mike-burns

[2018-01-02 18:22] #179 closed

[2018-01-03 17:43] supervacuo commented on #224
Done! :confetti_ball:

`sudo dnf copr enable seeitcoming/rcm`
`sudo dnf install rcm`

Feel free to ping me directly in future

[2018-02-13 02:59] andrewhamon opened #225 "Doesn't work with directories"
Okay, maybe I'm dumb, but here are some things I'm trying:

# Utterly broken: adding entire dotted directory
[code]

Expected outcome: The directory still exists (or is at least a symlink), with the files underneath also symlinked.
Actual outcome: The directory just disappears. Fortunately it exists under `~/.dotfiles` though.

# Mostly broken: adding entire not dotted directory
[code]

Expected o

[2018-03-25 13:54] iamarmanjon commented on #165
I'm getting this error again `env RCRC=$HOME/dotfiles/rcrc rcup` on Docker Ubuntu:16.04 image when I try to run `env RCRC=$HOME/dotfiles/rcrc rcup` (I'm using [thoughtbot/dotfiles](https://github.com/thoughtbot/dotfiles)) on a container.

[2018-03-30 14:25] mike-burns commented on #165
Well I'll be.

[code]

[2018-03-30 14:55] mike-burns commented on #165
@iamarmanjon @masaeedu Can you try #226?

[2018-03-31 02:25] iamarmanjon commented on #165
@mike-burns I'm not sure how to test this myself :), I tried to install this on a fresh ubuntu 16.04 docker container. Installed `build-essential` and `autotools`. I was able to run `./configure` but when I run `make` I'm getting this error:
[code]

[2018-04-01 10:14] mike-burns commented on #165
@iamarmanjon oh no. Offhand, I don't know what to do when make tells me that. Can you paste the full output from `./configure` and `make`?

Oh!, did you run `./autogen.sh` first? You need Ruby and the `mustache` gem first (`gem install mustache`, if it complains). It generates `man/rcm.7`.

Once you've run `make` successfully, you don't need to install it and can instead run `bin/lsrc`, `bin/rcup`

[2018-05-03 12:13] VMatrix1900 commented on #173
@langri-sha Are you working on this feature?

[2018-05-08 08:06] rrocchi commented on #224
Hi Carl, is there any chance that you can do the same for Fedora 28?

[2018-05-08 16:16] supervacuo commented on #224
Yes! Building now ☺

[2018-05-08 16:59] supervacuo commented on #224
Done! @mike-burns I think this issue can be closed?

[2018-05-08 17:14] mike-burns commented on #224
Thank you for taking care of this!

[2018-05-08 17:14] #224 closed

[2018-06-13 04:10] IvanMalison opened #229 "Set maximum depth"
I would like to be able to set a maximum depth at which directories should be copied. Beyond this depth, all directories would be symlinked instead. Is there currently a way to do this? If not would you accept a PR adding this functionality?

[2018-06-15 17:32] docwhat opened #230 "Please release a new version"
The current version is v1.3.1.

There are a [bug fixes](https://github.com/thoughtbot/rcm/compare/v1.3.1...master) in `master` that have not yet been released.

Specifically the fix for #197 would be really appreciated.

[2018-07-03 17:52] mike-burns commented on #230
Can do. Thanks for prodding!

[2018-07-06 14:16] #165 closed

[2018-07-06 15:37] mike-burns commented on #229
Hi!

We do not currently have that functionality. We do have `SYMLINK_DIRS` in rcrc(5), as you've likely seen.

What's the use case for max depth? Are you dealing with a large number of directories?

[2018-07-06 15:49] mike-burns commented on #225
## Adding entire dotted directory

[code]

Interesting. So, that is a bug but also a bit of a special case. Do you have many dotted directories with dotted files under them? rcup(1) is not well-equipped to handle those.

## Adding entire not dotted directory

For the non-dotted directory, there's a bit of complexity here. `mkrc -U` will re-do that directory as a non-dotted, symlink'ed directory (l

[2018-07-06 15:53] mike-burns commented on #222
The `-g` flag is interesting because I wanted to avoid having it be a quine.

That said, it makes sense for `-g` to run the hooks. I would definitely accept a patch that did this.

[2018-07-06 17:05] mike-burns commented on #217
Sorry, struggling to follow this. Allow me to re-state what you said, and you tell me whether I got it?

The problem to solve is: many hosts, each with custom rc files, some with firewalls or connectivity that prevent git or other convenient rc file-sharing mechanisms.

A proposed solution is: populate the home directories for each host ahead of time on a local computer, and scp those homedirs int

[2018-07-09 17:48] andrewhamon commented on #225
At this point I can't remember if it was purely a contrived case or a legitimate problem I encountered. Perusing my dotfiles currently, I'm not finding any dotted files under dotted directories.

I ultimately decided to use gnu stow and never really pursued this any further.

Additionally, I'd like to apologize for my choice of language, particularly "Utterly broken", in retrospect it feels a bit

[2018-07-09 18:07] mike-burns commented on #225
No prob, thanks for the update! I'm going to close this issue.

[2018-07-09 18:07] #225 closed

[2018-07-09 18:45] andremedeiros commented on #222
Perfect. I’ll work on this!

[2018-07-13 17:41] mike-burns commented on #230
1.3.2 is out.

[2018-07-13 17:41] #230 closed

[2018-07-18 19:45] aha commented on #217
Mike, you got it right. Sorry for the foggy initial post. I'll work on the customizable $HOME when I have the time and issue a pull request. It'll take a while though.

[2018-08-10 20:07] janbok opened #235 "Wierd behavior with folders having space character in their name"
Consider the following example

You have your dotfiles directory containing a folder named "A B". Then, after running rcup, everything is fine, except that a folder named "B" is created right where you started the rcup command. I think this is an error.

[2018-10-23 03:51] jsatk commented on #235
I'm having the same issue.

[2018-10-23 17:19] jsatk commented on #235
To add some clarity, I have two Dropbox's connected — a Personal and a Work. In `~` I have `Dropbox (Personal)` and `Dropbox (Work)`. `~/Dropbox (Personal)/dotfiles` is where I keep my dotfiles. I have a `Makefile` in there that symlinks everything. I was recently introduced to `rcm` and decided to try it. But I cannot figure out for the life of me how to set `DOTFILES_DIRS` in `~/.rcrc` to `~/Dro

[2018-11-04 18:54] mat-m opened #236 "Feature request: all leaf folders as symlink"
Hello

I understand many people prefer to create files inside real folders when mixing generated contents and config files.
I have a rather simple use case, where all my leaf folders should be symlinked, some UNDOTTED.

Given:
[code]

If `-L` (for leaf) would be such option, with `rcup -U bin -L`, I will get
[code]

Else I will have to put all my leaf folders in the SYMLINK_DIRS var, which breaks

[2018-11-04 20:39] mat-m opened #237 "lsrc -F symbols do not match"
The documentation says that symlinked directories should be suffixed by a `$` but I only have `@`

[code]

[2018-11-04 20:47] mat-m commented on #175
I cannot reproduce on v1.3.3
@ratijas Can you confirm also ?

[2018-11-10 17:59] willnorris commented on #175
I have long since restructured my dotfiles where I don't actually run into this anymore.  But I tried to reproduce the original problem I had as best as I could remember, and I can't seem to reproduce it.  So this seems resolved as best as I can tell as well.

[2018-11-21 22:02] mike-burns commented on #175
Thank you. Closing.

[2018-11-21 22:02] #175 closed

[2019-01-06 18:29] kbussell opened #239 "Packages for Ubuntu 18.10 / cosmic"
Please update PPA to include the packages for 18.10. Thanks!

[2019-02-09 22:59] mat-m commented on #144
It also fails when you stop to add a folder to SYMLINK_DIRS.
I ran rcup and it linked the files against themselves, since the old link on the folder was not removed.

[2019-03-18 19:35] xaltsc opened #241 "mkrc doesn't respect undotted"
In my `.rcrc`, I have `UNDOTTED="folder*". When doing `mkrc ~/folder/subfolder/file`, it reinstalls the file in `.folder/subfolder/file`.

[2019-04-13 15:24] toddboom commented on #239
Bumping this because I would also love updated packages for 19.04 which will go GA next week. Thank you!

[2019-04-30 13:41] nkgm commented on #144
This is extremely dangerous as it's trivially easy to trigger. Just run `mkrc .zshrc` twice and your `.zshrc` is gone for good.

[2019-05-09 01:12] sudomateo commented on #103
Given a `${HOME}/.dotfiles/rcrc` file I use:

[code]

[2019-05-20 22:22] Tank-Missile opened #243 "lsrc -t TAG lists files above tag directory"
For instance, if you have a rcrc file and a tag-Test directory in the same directory, using lsrc -t Test will print all files under tag-Test and rcrc.

[2019-05-22 03:41] Tank-Missile opened #244 "Copy and symlink various files using rcup and rcrc"
I set up two tagged directories, tag-Copy and tag-Link. The copy directory would have all its files copied, and the link directory would have all its files symlinked. In the same directory as these two directories, I have an rcrc file. This file is symlinked to my home directory by running the rcup -d ~/Nextcloud/Dotfiles. From there, .rcrc is configured to this directory. However, no matter how I

[2019-05-28 00:53] etiennebaque opened #245 "Repository no longer has a Release file"
Under Debian, after adding the thoughtbot repository source (`echo "deb https://apt.thoughtbot.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/thoughtbot.list`), when doing a `sudo apt-get update` then, I get the following error:

[code]

About the Debian distro I use:
[code]

Could you please either fix the repository or update its url, whenever you get a chance?

[2019-05-31 22:48] miguelfito commented on #245
Hi @etiennebaque!

The root cause of this issue seems to be related to `apt.thoughtbot.com` certificate expiration the last 26th May:

[code]

You can workaround this problem by now using the following command:

[code]

Hope **thoughtbot** fix this as soon as possible...

[2019-06-04 19:51] etiennebaque commented on #245
@miguelfito Thanks very much for your answer, I'll give this a try as soon as possible.

[2019-06-09 21:49] boneskull commented on #245
If anyone needs to add the key, this worked for me:

[code]

[2019-06-10 12:08] develop7 commented on #245
@boneskull you might find `apt-key adv --fetch-keys https://apt.thoughtbot.com/thoughtbot.gpg.key` more handy

[2019-06-10 16:06] boneskull commented on #245
also note that `-o Acquire::https::apt.thoughtbot.com::Verify-Peer=false` works with an `upgrade` or `dist-upgrade` operation too

[2019-06-11 13:56] bramswenson commented on #245
Just so we're all clear, this problem is not related to the gpg signing key. The root cause of this issue is an expired SSL certificate at the host apt.thoughtbot.com. It's kind of surprising that 16 days later no one has figured this out or taken the time to resolve it. I might be useful move this SSL cert to one of the ACME providers to prevent this in the future. There are many ways to ensure t

[2019-06-11 13:59] bramswenson commented on #245
@mike-burns Any chance you could nudge the thoughtbot ops folks in charge of the `apt.thoughtbot.com` host? Thanks in advance!

[2019-06-14 19:43] mike-burns commented on #245
@bramswenson should be good now. Thank you for your patience!

[2019-06-20 01:20] rohanliston commented on #245
I have the same issue, but with the Ubuntu PPA as opposed to the Debian deb.

[code]

Should I open a separate issue for this?

[2019-06-20 16:29] mike-burns commented on #245
Lemme ping @Frost -- people are having issues with the Ubuntu PPA. Thoughts?

[2019-07-08 06:36] Frost commented on #245
@mike-burns That error message seems like it's trying to download the repo for Ubuntu 19.04 (Disco Dingo), and the reason it's failing is likely because I have forgotten to upload a package for that Ubuntu release.

It seems like having recurring to-do items that you have to perform once every 6 months is harder than I thought. I'll get to it during this week.

[2019-07-16 22:12] mhelvens opened #246 "[Question] Best practice for tracking both local and global dotfiles?"
I apologize if this is outside the scope of this repo. Go ahead and close, if that's the case.

I want to track the configuration files on my pc, and sync them to GitHub. I've been successfully using rcm for this, in a `~/.dotfiles` folder which doubles as a git working copy. But this can't capture global dotfiles very well. And unfortunately, there are some I just can't move to my home dir (like

[2019-07-22 18:31] Frost commented on #245
@rohanliston It seems as if rcm now (as of 19.04) exists in the Ubuntu "universe" package repo: https://packages.ubuntu.com/disco/rcm

As far as I can tell, my ppa stopped working with 19.04 because I hadn't uploaded a package for 19.04 (disco dingo).

I have done that now, but if there already exists a package in the universe repo I don't see any good reason why to keep uploading versions to new

[2019-07-22 21:59] rohanliston commented on #245
@Frost Fantastic, thanks!

[2019-08-28 16:55] gilcot opened #248 "help on install 1.3.3"
I'm not sure if I'm doing something wrong, but fail to install it
![image](https://user-images.githubusercontent.com/27341580/63876211-58f98a80-c9c5-11e9-9493-5bc25fcde72a.png)

[2019-10-17 07:29] todeveni commented on #245
In another news.
Your PGP key for apt.thoughtbot.com (debian) repository has expired yesterday. `EXPKEYSIG EC478DAB713A4BC3`
Ping @mike-burns

[2019-10-17 12:56] gilcot opened #249 "keys expired"
Hello,

Currently, an `apt-get update` is throwing GPG expiration errors
[code]
My source file is as follow:
[code]

[2019-10-17 13:05] gilcot commented on #249
I didn't mention this:
[code]
Thanks.

[2019-10-17 13:13] todeveni commented on #249
There's a new subkey. Just update the current key.

`apt-key adv --recv-keys --keyserver hkp://keyserver.ubuntu.com:80 EC478DAB713A4BC3`

[2019-10-17 13:14] todeveni commented on #249
(and that's for Debian repo), don't know if Ubuntu repo uses the same key.

[2019-10-18 10:25] gilcot commented on #249
Thanks @todeveni  ; that works for me

As said @bramswenson  ; I just used the official link as instructed by the documentations.

[2019-10-20 10:16] maxkerp commented on #245
I'm still on Ubuntu 16.04 and getting this error recently

[code]
Is it me or does anybody else get this, too?

[2019-10-20 19:33] Frost commented on #239
Hi! I am the package maintainer for the Ubuntu PPA. Sorry for not seeing this issue earlier, but I don't generally look around here a lot without someone mentioning me when they see there's some issue with the PPA.

I uploaded a package for 18.10 to the PPA several months ago, and for 19.04 and later versions, `rcm` is available through the `universe` package repo, and I will therefore stop publis

[2019-10-20 19:34] Frost commented on #245
@maxkerp It looks as if you are trying to use the "Debian-based" installation instructions from the README. That is totally understandable, since Ubuntu is indeed Debian-based.

There are specific installation instructions for Ubuntu however, but they are unfortunately a bit further down in the README. For your convenience, I'll just copy-paste them here as well:

[code]

I just verified this on a

[2019-10-21 11:13] maxkerp commented on #245
Ohh :sweat_smile:

The ppa was already added. For some reason I also added the `thoughtbot.list` file from the `debian` install instructions.. I don't know why :see_no_evil:

After deleting  `/etc/apt/sources.list.d/thoughtbot.list` everything works fine.

Thank you so much for your quick response and of course for `rcm` in general. It really helped me to get my dotfiles on the next level :heart:

[2019-10-21 14:05] mike-burns commented on #249
As others pointed out, we have new subkeys and have extended the expiration on the master key. You can download the key here: https://thoughtbot.com/thoughtbot.asc

You are right that the `apt.thoughtbot.com` key is incorrect. The only times we have problems with `apt.thoughtbot.com` is when @tabfugnic is offline, so: hey @tabfugnic , when you're back, can you adjust the key on `apt.thoughtbot.com

[2019-10-24 18:14] stratigos commented on #249
I fixed this for my machine today, and I am using Ubuntu 18.04

First, I downloaded the key as linked by @mike-burns above: https://thoughtbot.com/thoughtbot.asc

Then I imported the new key with the following command:

* :computer:  `sudo apt-key add - < ~/Downloads/thoughtbot.asc`
* :memo: you may need to change the path to the file to the download location on your system

Then when I `sudo apt-

[2019-10-25 14:43] saeidpo commented on #248
help me

[2019-10-25 14:44] saeidpo commented on #248
Set for my system mobile apload.

[2019-10-25 18:27] gilcot commented on #249
As https://thoughtbot.com/thoughtbot.asc is fine, I may close the issue. However, documentation should be updated as it points to https://thoughtbot.com/thoughtbot.key

[2019-10-25 18:28] #249 closed

[2019-10-28 03:45] albertuscrs commented on #245
I was just doing `sudo apt update`  on elementary OS 5 Juno that built on Ubuntu 18.04.2 LTS   and I got this

[code]

And then I was doing add GPG key using solution from @develop7 and got this

[code]

should I open new  issue for this? Thank you!

[2019-10-28 08:05] maxkerp commented on #245
I suspect it's the same problem I had, but I'm not an expert on this. You added the debian source, but what you need is the the ubuntu ppa.

[code]

I don't know why, but apparently ubuntu and debian handle signed repositories differently. Getting rid of the `sources.list.d` entry and adding the correct ppa should fix this.

Delete the following file and then follow @Frost instructions from this [

[2019-10-28 08:56] albertuscrs commented on #245
it is good to go thank you @maxkerp !

[2019-11-01 17:16] alexfornuto commented on #246
If I were you, I would use two separate repos, and have a master repo with these as submodules to quickly import them both to new systems.

[2019-11-05 15:37] mhelvens commented on #246
@alexfornuto: Sure, that's an idea. I'm still curious how other people actually do it on their own machines, and what is recommended by the rcm devs. 😄

[2019-11-21 08:32] dgrabla commented on #246
At the moment I have a few global (/etc) configuration files per machine managed by RCM mixed with personal dotfiles. This has the problem that I need to symlink them to their expected locations on /etc by hand. This is not a good solution because of the extra manual work and the issue with the permissions - sometimes they are expected to be owned by root.

The solution we discuss here with two RC

[2019-11-23 00:52] mat-m commented on #246
I suppose you can symlink /etc in /root to have `/root/etc` and bind your global dotfiles from here, keeping two repos, one for root, one for you.

[2019-11-25 15:38] tabfugnic commented on #249
Hey all, I've since updated the apt key on https://apt.thoughtbot.com/thoughtbot.gpg.key. It is now in line with expiration date of the parent key. You can continue to use the thoughtbot.com key or the key in the documentation.

[2019-11-25 15:38] mike-burns commented on #246
TBH I'm not excited about the idea of using rcm for things under `/etc`. I'd probably use e.g. chef for that.

I would be open to a PR that allowed the user to specify the target directory.

[2019-11-25 16:52] eddsalkield opened #250 "XDG Base Directory Specification Compliance"
Since 2010, the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) has been widely accepted, defining a standard for the locations of user configuration files.  Currently, rcm checks by default for the _rcrc_ configuration file in _~/.rcrc_, which is not in alignment with the specification.

I propose that the following behaviour be imp

[2019-11-30 22:53] mat-m commented on #250
If we follow XDG, then _dotfiles_ folder  should be somewhere in $XDG_DATA_HOME :
- $XDG_DATA_HOME/rcm/dotfiles
or at least
- $XDG_DATA_HOME/dotfiles

Since XDG_DATA_HOME default value is $HOME/.local/share, it adds two folders to create before getting dotfiles. Does it mean we need a bootstrap option (discussion initialized in #103) to initialize this ?

[2019-12-03 23:05] mat-m commented on #144
@mike-burns : If many files are given, and one is a symlink, do we abort the whole command or just exclude symlinks from the command ?

[2019-12-03 23:07] mike-burns commented on #144
Ideally abort the whole command. But I'd also be fine with whichever is easiest to develop.

[2019-12-04 00:24] mat-m commented on #144
I will go for global abort. I prefer to send a message

rather than

[2019-12-07 02:29] eddsalkield commented on #250
There's a bit of a debate to be had as to where _dotfiles_ should go in `$XDG_CONFIG_HOME/rcm/dotfiles` or `$XDG_DATA_HOME/rcm/dotfiles`.  I think we can safely rule out `$XDG_DATA_HOME/dotfiles`, as people would not expect this location.  The ambiguity being that the data to rcm in this instance _are_ user configuration files.  In my (maybe controversial) opinion, we should pick `$XDG_CONFIG_HOME

[2019-12-07 23:36] mat-m opened #253 "Question about Makefile"
I don't know if I made a mistake or miss any instructions, but I ahad an issue when running the tests.
The lib is built in `./share/rcm.sh` and scripts are searching `../share/rcm/rcm.sh` which has one more level.

I temporarily defined a symlink `./share/rcm`, but can't the file be generated on target folder directly ?

[2019-12-08 00:35] mat-m opened #254 "mkrc and DOTFILES_DIRS"
`man mkrc` gives:

Since in the code we have:

[code]

I think we should add that:
*  The first `-d` option in the command overrides the setting in the RCRC file
*  Only the last one is used to deliver files, because the way it is coded, each further option overrides the previous one.

[2019-12-08 00:42] mat-m commented on #186
I cannot confirm with 1.3.3. All looks fine :

[code]

[2019-12-08 01:07] mat-m commented on #206
Suggestion:
* Add a block _"Add new files"_, saying to install them normally, then running mkrc over them.
* Add a Note, where folder contents are updated if the contents or one of the path elements were symlinked to a new target parent.
* `-C` option is a copy, and we cannot update or contents below a copy

[2019-12-08 01:14] mat-m commented on #217
@ghost, you can try to run `HOME=/mnt/home/userB rcup -d ./.dotfiles`

[2019-12-11 01:03] mat-m commented on #250
Well, for rcm they are DATA and not CONFIG, that's why I used $XDG_DATA_HOME. And dotfiles folder will be amongst its own target, which is weird :)

Currently defaults are:
  * RC in ~/.rcrc
  * Files in ~/.dotfiles

XDG defaults would be:
  * RC in $XDG_CONFIG_HOME/rcm/rcrc ( ~/.config)
  * Files in $XDG_DATA_HOME/rcm/dotfiles (~/.local/share)

Maybe we can add a `-x` option to conform to XDG if

[2020-01-11 01:54] eddsalkield commented on #246
Another advantage: allowing the user to specify the target directory lets rcm track dotfiles whose target locations may depend upon the values of environment variables, e.g. `$XDG_CONFIG_HOME`.

I propose three methods for specifying the target:
Firstly, a meta-file at `path_to_dotfiles_dir/target` for every dotfiles directory.  This file specifies the new target to install dotfiles from this dire

[2020-01-12 12:48] eddsalkield commented on #254
`man rcm` specifies, in the _MULTIPLE DOTFILE DIRECTORIES_ section, that the behaviour of multiple dotfile directories being given in the RCRC file alongside the _-d_ flag is to go in sequence through all given directories, updating symlinks such that overlapping rc files use the first result that matches for them.

The code you're quoting is from `mkrc` which seeks to "bless" existing dotfiles in

[2020-01-14 21:46] mike-burns commented on #246
It was a mistake for rcm to mix files like it does, but it's a mistake that's in place now. Changing it would be a breaking change and I'm not convinced it's worth it.

I like the `TARGET` option in rcrc(5) and the `-T` flag.

What's the case for the manifest target file?

[2020-01-14 21:58] eddsalkield commented on #246
Suppose I wish to have my dotfiles be installed within `$XDG_CONFIG_HOME`, which defaults to `$HOME/.config` if the environment variable is not set.  This is a very common case; applications are increasingly adopting the XDG Base Directory Specification.  Currently `rcm` could install dotfiles to `$HOME/.config`, but would be unable to change the target based on an environment variable.

It is pos

[2020-01-14 22:05] mike-burns commented on #246
Oh wow, interesting. OK.

I'll definitely take a look at this PR, but if that `target` file codepath is too complex we'll have to discuss it further.

Thank you for working on this!

[2020-01-17 15:32] eddsalkield opened #256 "Exclude pattern '*' broken"
When evaluating `is_single_excluded` in `lsrc`, the following is performed:
[code]
If the exclude in question is *, then the shell treats it as a wildcard and expands it, erroneously.  Then the exclude pattern of * does not function as intended.

The results are things like:
`rcup -U '*'` behaving as `rcup`

[2020-01-17 20:21] mike-burns commented on #253
Sorry, I don't see this error. Can you share the commands you're running and what the error message is?

[2020-01-17 22:03] #144 closed

[2020-01-17 22:04] mike-burns commented on #144
Merged. Thank you!

[2020-02-14 14:36] davidski opened #258 "Tag a minor patch release"
Any objections to tagging a 1.3.4 release so that the fix for #144 can flow out to `brew` and other packaging systems? Thanks for the continued efforts on this handy toolset!

[2020-04-03 20:24] #256 closed

[2020-04-12 00:59] mat-m commented on #254
@eddsalkield We need to update the man, at least:

* Since we break without checking for directory liveness, we may update the man to remove the multiple times sentence, which makes no sense.
* If we add a liveness check `[ -d "$DOTFILES_DIR" ]`, still update the man to tell that the first existing dir will be used.

[2020-04-12 01:15] mat-m commented on #253
Can't reproduce with the old clone and a fresh one, closing.

[2020-04-12 01:15] #253 closed

[2020-04-13 00:37] mat-m opened #259 "mkrc creates dotfiles dir if it doesn't exist"
Hello

With the following lines, we create all folders recursively, but there is no previous check of $DOTFILES_DIR existence.

https://github.com/thoughtbot/rcm/blob/cbc346b279b5c08b281c9901b994a58eb037a60d/bin/mkrc.in#L148-L149

So, with no `-d` option, and no `.rcrc` file, if $HOME/.dotfiles doesn't exist, it is created for us.
If there is a typo in the $DOTFILES_DIR, a new folder is created.

[2020-04-13 00:42] mat-m commented on #254
I am in favor of the existence check.

Additionally, if a `-d` option is given, it forgets about values from RCRC and default one ($HOME/.dotfiles).
If multiple -d are given, the last one wins, since mkrc will overwrite the one variable with each value.

[2020-04-26 00:42] mat-m commented on #259
Proposal: https://github.com/thoughtbot/rcm/pull/262

[2020-04-26 00:45] mat-m commented on #236
I didn't understand how rcm works.

[2020-04-26 00:45] #236 closed

[2020-05-03 00:40] mat-m commented on #215
@mike-burns : so a quick fix is to replace all .Sx out-of-page links with Emphasis on subsection and .Xr on page ?
Something like
*  Phrase all links to other pages' subsections with `see command, SECTION` structure
* And update format so "see [lsrc(1)](), *EXCLUDE PATTERN*"  will give

[code]

`Lk` is for external URLs in man pages. I would prefer an upgrade of `Xr` (Cross-Ref) to support a third

[2020-05-03 22:41] mat-m commented on #241
Fixed by #257, merged but not released.

[2020-05-03 22:54] mat-m commented on #243
Current behavior is:

Using -t TAG **adds** files from tag to list. `lsrc` ignores them by default. You can ` | grep tag-TEST` to limit output.
`lsrc` is first a backend command, and its default behavior cannot be changed.
But I think we miss  introspection commands, something like `rcup --dry-run` and `lsrc --check-existing`

[2020-05-03 23:00] mat-m commented on #244
`COPY_ALWAYS` is a variable containing patterns for matching files and cannot contain a command as shown in your .rcrc file.

Tags were brought in rcm to be able to deploy files depending on conditions, not to chooos how to deploy files.

[2020-06-21 18:55] taylorthurlow opened #263 "Documentation regarding [files ..] rcup option unclear"
I wanted to use `rcup` to link a specific dotfile from my dotfiles directory. The `rcup -h` help text doesn't seem to suggest that this is supported:

[code]

However, the manpage says it is:

[code]

The `[files ...]` option being the thing I'm interested in. The manpage has this to say about that option:

[code]

This seems to be what I want, but my first instinct was to call it like this:

[cod

[2020-07-19 14:16] mat-m opened #264 "Add Focal Fossa (Ubuntu 20.04) support in ppa"
Hello

@Frost  Can you add focal support in the ppa, pelase ?

I have migrated to Linux Mint 20, which builds on top of Focal Fossa (20.04)

Thanks

[2020-07-19 15:56] Koronen commented on #264
https://github.com/thoughtbot/rcm/pull/247

[2020-07-20 08:06] Frost commented on #264
Hi @mat-m. Just like @Koronen mentioned, you no longer need the ppa in order to get `rcm` on Ubuntu. I'm using it directly from the universe repo on 20.04 myself.

Here's an updated package link for 20.04: https://packages.ubuntu.com/focal/rcm

[2020-08-26 21:20] mat-m commented on #264
Perfect. Using Mint, I did not check if rcm was available from Ubuntu universe before asking. Thanks

[2020-08-26 21:20] #264 closed

[2020-08-28 18:02] #237 closed

[2020-08-28 18:36] mike-burns commented on #235
I believe it! Filenames with spaces and shell are a bad mix.

This is a great bug report, though -- it can clearly and simply be reproduced. I'll see if I can track down why such directories are breaking, and if it can be fixed.

[2020-08-28 18:36] #239 closed

[2020-08-28 18:39] mike-burns commented on #243
I'd love a `rcup -N` (dry run) flag, and until then lsrc is passable. Not great, but it gets the job done.

It might make sense to have `lsrc -T some-tag` print _only_ the files under `some-tag`. That could reduce some confusion.

In the meantime, this is working as expected so I'm going to close it.

[2020-08-28 18:39] #243 closed

[2020-08-28 18:41] mike-burns commented on #245
Updated the README to make it clear that Ubuntu users should use the Ubuntu installation instructions. Thanks to @Frost for that.

[2020-08-28 18:41] #245 closed

[2020-08-28 18:45] mike-burns commented on #248
Hi @samsunga260g and @gilcot  , which OS is this?

[2020-08-28 19:50] mike-burns commented on #259
Hm! Good question. thinking aloud here:

- We'd need to change the rcm(7) tutorial for "quick start for empty dotfiles directories".
- My original thought was: we have to make the files under $DOTFILES_DIR, so we might as well make the directory as well.
- In practice, almost everyone has an existing dotfiles dir so they won't notice this.
- This will catch typos in `DOTFILES_DIR`/`-d` settings.
-

[2020-08-28 19:53] mike-burns commented on #263
Yes, agreed, we need to make all of those documentation points much more clear. Thank you for enumerating them so clearly, too:

* `rcup -h`
* rcup(1)

Additionally, maybe we should detect that this is happening somehow. Like if any $DOTFILES_DIRS appear in the file names, abort.

[2020-08-28 20:26] mike-burns commented on #250
Let's make this work more seamlessly for XDG users.

The easiest lift is the original suggestion: look for `~/.rcrc` and `${XDG_CONFIG_HOME:-~/.config}/.rcrc`, in that order (did I get the XDG one right?). We can update rcrc(5) to document that this is the search path. I'd accept that pull request.

Once that is in place, an XDG-minded user can set `DOTFILES_DIRS` in their rcrc to `$XDG_DATA_HOME/

[2020-08-28 21:15] mike-burns commented on #258
1.3.4 is out, and I've notified the package maintainers. Thank you for your patience!

[2020-08-28 21:15] #258 closed

[2020-08-29 14:40] gilcot commented on #248
Hello @mike-burns

It's a while I'm not working with that box. It was a Debian distribution.

[2020-09-03 12:51] jandamm opened #265 "Getting sed issue when running rcup"
I'm getting the following issue since the last release:
[code]
It happens after my hooks and before handling dirs.

I was using `gnu-sed` on my mac before, getting this message:
[code]

[2020-09-24 05:59] rupurt commented on #245
Heyo,

It looks like this is a problem again for Ubuntu 20.04 LTS (Focal Fossa) and needs to be uploaded.

Cheers for the great tool!

[2020-09-27 09:45] goofrider commented on #175
I know this is already closed but I found a workaround.

I encountered the same problem when try to symlink a directory that's more than 2 levels deep. so:
[code]
works as it should, however:
[code]
Work symlink the files in dir3. The simple workaround without doing `SYMLINK_DIRS="dir3"` is:
[code]

For deeper than 3 levels, use `SYMLINK_DIRS="dir1/dir2/*/dir4"` or `SYMLINK_DIRS="dir1/*/dir4"`. `S

[2020-09-27 16:16] willnorris commented on #175
Thanks for sharing the workaround @goofrider!

Interestingly, I have `SYMLINK_DIRS="config/git/template"` [here](https://github.com/willnorris/dotfiles/blob/b69708cd6462b8f480a9910ad02f9114b726126b/rcrc.example#L3), and it seems to work just fine.  🤷

[2020-09-27 21:02] eddsalkield commented on #250
I think this is almost right, although we really should incorporate @mat-m's approach of separating config files from data.  The logical flow would be as follows:

The `.rcrc` file should be found by by:
* Checking the location defined by `$RCRC`
* Checking for `~/.rcrc`
* Checking `${XDG_CONFIG_HOME:-~/.config}/rcm/rcrc`

The dotfiles directory should be found by:
* Checking the location defined

[2020-09-27 21:04] eddsalkield commented on #250
I have a patch in the works for this - I'll submit it when I next have time to polish it up.

[2020-10-17 22:42] mat-m commented on #244
Hello @Tank-Missile ,

I am starting the discussion suggested by Mike's tag ^^

Main issue there is that rcm is primarily targeted to symlink files. Copies are exceptions, and treated as such by the COPY_ALWAYS variable or the `-C` flag of commands.
Tags were added for functional separation (bash vs zsh, webserver vs laptop,...).
I like those principles, but I am seeing some potential in your prop

[2020-10-17 23:21] mat-m opened #267 "Documentation fixes"
* Replace Sx by Em, because I am not able to patch mandoc :
[...] It does look like I'm violating `.Sx` already: "Reference a section or subsection _in the same manual page_" (emphasis mine).

_Originally posted by @mike-burns in https://github.com/thoughtbot/rcm/issue_comments/327208272_

* Replace `EXCLUDE_PATTERN` by `RCM_PATTERN`, since it is not used only for excludes, and I found that very c

[2020-11-01 19:52] mike-burns commented on #265
That's surprising. Looks like you're on macOS, correct?

Do you mind sharing your home dir? `echo $HOME` should suffice.

[2020-11-02 08:29] jandamm commented on #265
Yes, I'm running macOS.
My $HOME is `/Users/jan.dammshaeuser`

[2020-11-04 17:37] ratijas opened #268 "Removing tag affects host-specific dotfiles"
## Description

Attempt to remove tag-specific dotfiles via `rcdn -v -t some-tag` removes host-specific files.

I have `HOSTNAME` set in my `.rcrc` config, but it does not seem to matter.

## Expected behavior

Leave host-specific dotfiles in place, when only asked to act upon specific tags.

## Actual behavior

Host-specific dotfiles get erased by `rcdn -t`

## Example

[code]

As you can see, `T

[2020-11-04 17:42] ratijas commented on #268
Also, man page for **rcdn**(1) is clear about this.

It is not clear from the definition of the flag whether it will remove **only** according to _TAG_, or **in addition to** it.

[2020-11-04 17:51] ratijas opened #269 "[Bug] Appearence of rcup string in rcdn script"
I don't know much about it, but it looks like a copy-paste error between the `rcup` and `rcdn` scripts. Especially given that it is supposed to represent program name.

https://github.com/thoughtbot/rcm/blob/68fe31588ef3d31623cd0da42b410eac8a003ecb/bin/rcup.in#L252
https://github.com/thoughtbot/rcm/blob/68fe31588ef3d31623cd0da42b410eac8a003ecb/bin/rcdn.in#L69

https://github.com/thoughtbot/rcm/blo

[2020-11-04 17:58] ratijas commented on #269
Reproducible:

[code]
---
[code]

Notice the first output line in the second case.

[2020-11-04 18:04] ratijas commented on #269
Other commands are not affected.

[2020-11-05 20:07] ratijas commented on #250
I think it would be insane & confusing to have `~/.rcrc` AND `${XDG_CONFIG_HOME:-~/.config}/.rcrc`, so it should become a hard error. I mean, check both locations, and exit(1) when both files exist.

Generally, +1 for the XDG compliance.

[2020-11-05 23:21] ratijas opened #271 "[Suggestion] List parameters in $RCRC could be native bash arrays"
## Summary

"Space-separated list" variables described in **rcrc**(5) could be replaced with native sh array declarations:

[code]

## Description

Currently a lot of sequential data in rcm is handled as plain space separated strings. This causes troubles like #193. Variable substitution without double quotes is considered harmful, and not-sanitized user data should never be trusted.

It was said

[2020-11-20 15:25] mike-burns commented on #265
Real tricky -- I can't figure out what's gone wrong.

Do you mind adding `-vvv` to whichever command you're running. I can't tell whether your `DEST_DIR` is becoming corrupted somewhere. I hope it's not a hook ...

[2020-11-20 15:53] mike-burns commented on #250
OK yes, that seems correct. Thank you for catching that.

[2020-11-24 17:54] jandamm commented on #265
Thanks for the feedback I've switched computers in the meantime and the error disappeared. So at least for me the issue is closed 👍

[2020-12-17 16:52] mat-m commented on #244
@Tank-Missile Keeping on discussion:
What is the usage of the files you copy. In my view, it may not belong to dotfiles and thus rcm, but more in a script to download them from a static repo.
Without your view and details, we can't go further.

ATB

[2020-12-19 20:25] Tank-Missile commented on #244
@mat-m Sorry for not responding sooner, but I only just remembered why I attempted to split my dotfiles into symlinked and copied files. Certain files such as my steam settings and chromium settings don't work at all when symlinked from another directory. Certain KDE dotfiles also contain session data, which changes even if no settings were changed. This would end up polluting my Nextcloud log wit

[2020-12-27 23:50] mat-m commented on #244
@Tank-missile :
you can try to create a `steam` folder containing required files, and add it to `COPY_ALWAYS`. Then the folder will be copied with its contents, used as a bootstrap.

[2021-01-29 19:41] mike-burns commented on #215
@mat-m I like that use of `.Em`. That makes sense to me.

[2021-01-29 19:47] #269 closed

[2021-01-29 21:02] #206 closed

[2021-01-29 21:02] #254 closed

[2021-01-30 11:28] eddsalkield commented on #254
Excellent work on this, and sorry for not contributing further to the discussion here - playing around with rcm was rather thrown on the backburner for me! I think your implemented (and now merged) approach, including the existence check and man page update, is the best one. :smile:

[2021-03-15 16:25] ryanwood opened #275 "Ability to unlink a file?"
Is there a way to unlink and leave the dot files as file instead of symlink?

I guess I'm looking for the opposite of `mkrc` which takes `~/.vimrc` and changes to a symlink to `~/.dotfiles/vimrc`. Using `rcdn vimrc` will delete the symlink which is not what I want. What I'd like to to be able to run `mkrc` in reverse so it effectively reverses the action, removing it from RCM and replacing the sym

[2021-03-21 00:40] mat-m commented on #275
Hello, here is a workaround:

[code]

Does it work for your case ?

[2021-03-21 01:00] ryanwood commented on #275
That's perfect. Thank you!

[2021-03-21 01:01] #275 closed

[2021-04-29 14:35] mat-m commented on #275
It does not remove it from RCM, though. You need to remove the file in the dotfiles dir.
If you are using git :  `git rm ~/.dotfiles/vimrc`

[2021-05-18 03:06] eonun opened #277 "mkrc Suggested improvements (mkrc 改进建议)"
When I added a `dotfiles` with `mkrc`, after some time I need to create more configuration files in the same directory, and now I need to add the new files to `dotfiles` for management, I used `mkrc` to add the whole directory again, and then the already added The configuration file is added again and the final file is not accessible. It is recommended to add a check to filter previously added con

[2021-06-11 15:22] magikid opened #278 "Test failures on fresh clone"
The `test/mkrc-one-dotfile-arg.t` is failing on a fresh clone of the project because of the changes in 4fcb2b7d25354cdacf3c1efd16d4f5bd64dd55e7 adding the `-k` flag to mkrc.

[2021-06-30 22:13] mat-m commented on #187
@LandonSchropp Can we consider this a duplicate of #102 , fixed for real with #272  ?

[2021-06-30 22:25] mat-m commented on #263
BTW, the original issue (overwriting a symlink) was fixed with #252

[2021-06-30 22:29] LandonSchropp commented on #187
@mat-m Honestly, it's been a bit since I've looked at this, so sounds good to me. 🙂

[2021-06-30 22:29] #187 closed

[2021-06-30 22:45] mat-m commented on #277
As far as I can tell, this should be fixed by #252.

[2021-09-14 20:04] xaltsc commented on #241
Since it's been fixed apparently, is it included in the 1.3.4 release ?

[2021-09-15 21:38] #265 closed

[2021-09-24 03:10] qrkourier opened #281 "optional .local suffix for colliding files from multiple sources"
I'm trying to avoid renaming the colliding dotfiles in my personal repo so that I can use them on systems where I'm not also using thoughtbotdotfiles with the .local convention. Collisions are ignored by `rcup` today, and here's how an `rcup -L` option could modify that behavior.

[code]

[2021-09-24 03:15] qrkourier commented on #281
Though I'm unfamiliar, I noticed there were some additional env vars or configuration files or both that might serve to add more granularity to this new behavior. Even without additional controls a simple default to `.local` suffix when a name is already claimed by a prior source file would immediately make `rcup` more useful for me. A few years ago when I first encountered this limitation I wrote

[2021-09-24 03:48] qrkourier opened #282 "FAIL: test/mkrc-one-dotfile-arg.t"
Hi Mike, I'm trying to take a look at `rcup` to see if I can [add a feature](https://github.com/thoughtbot/rcm/issues/281) to submit a PR, but I ran into a test failure when I ran `make check` while following the setup instructions in `CONTRIBUTING.md` on the pristine master branch. I'm sure I'll need to solve this, and will take this opportunity to ask for a little guidance navigating the testing

[2021-09-24 04:39] qrkourier commented on #281
I got so far as to realize that `rcup` consumes the list of managed files from `lsrc` which omits collisions. One way to handle this would be for `lsrc -L -F` to instead signify collisions local overrides with sigil `L`. That way, `rcup` could handle the local override with a `${dest}.local`.

Another way of identifying local overrides in the Thoughtbot convention could be to use a reserved tag fo

[2021-10-15 06:23] ubmarco commented on #235
I'm having an issue with vscode open source release config. rcm thinks the config file is unlinked but correctly sets it up. Whenever I run `rcup`, I get this:
[code]

[2022-01-08 09:32] UnkwUsr commented on #250
I'm sorry for bump, but is there any progress?

[2022-03-04 20:27] Koronen commented on #282
This was recently fixed in 3e2ac541f68673e2556d66e166e7cdcebd1ad0a2.

[2022-03-04 20:35] Koronen commented on #278
This was recently fixed in 3e2ac541f68673e2556d66e166e7cdcebd1ad0a2.

[2022-03-04 20:37] #278 closed

[2022-03-04 20:37] #282 closed

[2022-04-30 23:09] mat-m commented on #271
Hello,

AFAIK, we want to stay POSIX to be able to run on many platforms, and that forbids variables array.

[2022-04-30 23:21] mat-m commented on #259
I guess we can close this one :)

[2022-04-30 23:21] #259 closed

[2022-04-30 23:24] mat-m commented on #241
Fixed in 1.3.5

[2022-06-22 05:29] remino opened #284 "How do you begin?"
I just installed `rcm 1.3.5` on my Mac using Homebrew.

When I try to register my first file, I get this:

[code]

The documentation is not clear on how to start using rcm, in my opinion. But maybe I missed something.

How do you begin using rcm?

[2022-06-22 14:13] mike-burns commented on #284
Huh, and I get

[code]

That must be a bug. I'll have to look into this shortly. Thanks for reporting it! Let me know if you discover more.

In the meantime, does it work if you `mkdir ~/.dotfiles` first?

[2022-07-12 21:16] vergenzt commented on #235
I'm having this same issue because I'm trying to manage [MailMate custom keybinding configs](https://manual.mailmate-app.com/custom_key_bindings) in my rcm dotfiles repo. I want it to just symlink the whole directory, but it's under `~/Library/Application Support` -- a path that Apple decided has to have a space in it, not me. 🙁

[2022-07-27 21:26] mat-m commented on #281
Hello @qrkourier ,

My raw thoughts:
You only have two dotfiles repos, but some people have more, and rcm will not be able to suggest other extensions if there is more than one collision for a file. And what to do if we have a file and a folder with the same name ?
Moreover, it would mean that the order of the paths is important, and I am not sure it is in the specs.
Your suggestion about the loca

[2022-07-27 21:32] mat-m commented on #284
The [quickstart](https://thoughtbot.github.io/rcm/rcm.7.html#QUICK_START_FOR_EMPTY_DOTFILES_DIRECTORIES) suggests the dotfiles dir will be created for you. This is a good default behavior, but we need
1. to tell the user we did it
2. suggest to register it as a Git or any SCM repo for reuse.

[2022-08-06 02:16] wasv opened #285 "`--help` with other arguments makes directories"
When running `mkrc` with `--help` after a filename, the `mv` help is prefixed and directories are created in the `.dotfiles` directory (`.rcm` in my case) with the directory names being the text of the `dirname` usage message.

This is clearly not intended behavior, though it was a rather amusing bug to find. This is hopefully an easy fix, if not maybe I'll have time to take a look and open a PR *

[2022-11-08 20:39] robertdj opened #287 "File location depending on OS"
Hi

Thanks for this wonderful project -- it's been my favorite dotfiles manager for many moons!

I am using VS Code on both Linux and maxOS. Its `settings.json` goes to different folders in the two OSs:

- macOS: `$HOME/Library/Application\ Support/Code/User/settings.json`
- Linux: `$HOME/.config/Code/User/settings.json`

Is there a neat way of only having one `settings.json` in my dotfiles and le

[2022-11-12 19:21] robertdj commented on #287
It certainly makes sense with links like that -- thanks!

[2022-11-12 19:21] #287 closed